<!DOCTYPE html>
<!--#include virtual="/serviceinfo/assets/inc/meta_home.html" -->
<title>東北のおみやげ・グルメ・サービス情報｜JR東日本東北総合サービス株式会社【LiViT】</title>
<meta name="description" content="JR東日本グループ「JR東日本東北総合サービス株式会社」の公式サイトです。東北６県の駅を起点に展開するエキナカ店舗やショッピングセンター、月極駐車場などのサービス情報をご覧いただけます。目的の県や駅からショップ情報が検索できます。">
<meta name="keywords" content="JR,ジェイアール,東北,宮城,仙台,長町,陸前原ノ町,岩手,盛岡,青森,秋田,山形,福島,郡山,会津若松,駅,エキナカ,おみやげ,グルメ,生鮮,飲食店,ランチ,ご当地,名品,銘菓,名産品,特産品,食料品,日用品,酒,牛たん,すし,ずんだ">
<meta property="og:title" content="東北のおみやげ・グルメ・サービス情報｜JR東日本東北総合サービス株式会社【LiViT】">
<meta property="og:description" content="JR東日本グループ「JR東日本東北総合サービス株式会社」の公式サイトです。東北６県の駅を起点に展開するエキナカ店舗やショッピングセンター、月極駐車場などのサービス情報をご覧いただけます。目的の県や駅からショップ情報が検索できます。">
<meta property="og:url" content="https://www.livit.jregroup.ne.jp/">
<!--#include virtual="/serviceinfo/assets/inc/meta_bottom.html" -->
<!-- [start]css -->
<link rel="stylesheet" href="/serviceinfo/assets/css/common/reset.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/base.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/common.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/slick.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/top/top.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/top/anime.css">
<!-- [end]css -->
<!--#include virtual="/serviceinfo/assets/inc/head_close.html" -->
<link rel="stylesheet" href="/css/override.css">
</head>
<body>
<!--#include virtual="/serviceinfo/assets/inc/body_head.html" -->
<div class="serviceIndex">
<div class="tpl_wrapper bgpattern02">
<!--#include virtual="/serviceinfo/assets/inc/header.html" -->
<main role="main">
<div class="tpl_contents">


<article>
	<section id="serviceHome" class="keyvisual">
		<div class="bg">
			<div class="wrap">
				<div id="giftgourmet" class="changeBox">
					<div class="pos">
						<div class="slidArea">
							<div class="blk clr">
								<div id="main_slider" class="slider">
									<div class="sl">
										<a href="/gyutan-sushistreet/" class="btn"><img src="/serviceinfo/assets/img/top/slide_gyuusushi_pc.jpg" class="pc" alt=""><img src="/serviceinfo/assets/img/top/slide_gyuusushi_sp.jpg" class="sp" alt=""></a>
									</div>
									<div class="sl">
										<a href="/search?pt[]=24&pt[]=110&keywords=" class="btn"><img src="/serviceinfo/assets/img/top/slide_omiyage_pc.jpg" class="pc" alt=""><img src="/serviceinfo/assets/img/top/slide_omiyage_sp.jpg" class="sp" alt=""></a>
									</div>
									<div class="sl">
										<a href="/tekute/sendai.html" class="btn"><img src="/serviceinfo/assets/img/top/slide_tekute_pc.jpg" class="pc" alt=""><img src="/serviceinfo/assets/img/top/slide_tekute_sp.jpg" class="sp" alt=""></a>
									</div>
									<div class="sl">
										<a href="https://shopping.jreast.co.jp/shop/detail/s013?utm_source=livithp&utm_medium=shoptop_banner" target="_blank" class="btn"><img src="/serviceinfo/assets/img/top/slide_jremall_pc.png" class="pc" alt=""><img src="/serviceinfo/assets/img/top/slide_jremall_sp.png" class="sp" alt=""></a>
									</div>
									
								</div>
							</div>
						</div>
						<div class="setObj setObjTtl01"><div class="pos"><div class="obj objTtl01 scAniKv02"><h1>東北6県、駅・駅近のおみやげグルメサービス情報</h1></div></div></div>
						<div class="setObj setObj01"><div class="pos"><div class="obj obj01 scAniKv01"></div></div></div>
						<div class="setObj setObj02"><div class="pos"><div class="obj obj02 scAniKv01"></div></div></div>
						<!-- <div class="setObj setObj03"><div class="pos"><div class="obj obj03 scAniKv01"></div></div></div> -->
						<div class="setObj setObj04"><div class="pos"><div class="obj obj04 scAniKv01"></div></div></div>
						<div class="setObj setObj05"><div class="pos"><div class="obj obj05 scAniKv01"></div></div></div>
						<div class="setObj setObj06"><div class="pos"><div class="obj obj06 scAniKv01"></div></div></div>
						<div class="setObj setObj07"><div class="pos"><div class="obj obj07 scAniKv01"></div></div></div>
						<div class="setObj setObj08"><div class="pos"><div class="obj obj08 scAniKv01"></div></div></div>
						<div class="setObj setObj09"><div class="pos"><div class="obj obj09 scAniKv01"></div></div></div>
						<div class="setObj setObj10"><div class="pos"><div class="obj obj10 scAniKv01"></div></div></div>
						<div class="setObj setObj12"><div class="pos"><div class="obj obj12 scAniKv01"></div></div></div>
						<div class="setObj setObj13"><div class="pos"><div class="obj obj13 scAniKv01"></div></div></div>
						<div class="setObj setObj14"><div class="pos"><div class="obj obj14 scAniKv01"></div></div></div>

					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="news">
		<div class="bgHead"></div>
	  <div class="bgMian">
		<div class="wrap">
			<div class="pos">
				<div class="ttlh2 fontM"><h2>ニュース<br class="sp">＆<br class="sp">イベント</h2></div>
				<div class="ttlh2sub"><h3><img src="/serviceinfo/assets/img/top/ttl_sub_news.png" alt="News＆event" height="13" width="104"></h3></div>


				<div class="slidArea">
					<div class="blk clr">
						<div id="js_slider" class="slider">
							<div class="sl">
								<a href="/search/" class="btn">
									<div class="resizeRatioBox"><div class="resizeRatioBoxIn"><p class="resizeRatioImg"><img src="/serviceinfo/assets/img/cms/800600.jpg" alt="150周年酒"></p></div></div>
									<ul class="LBoxTagList"><li><p class="s1">青森県</p></li><li><p class="s2">岩手県</p></li><li><p class="s3">宮城県</p></li><li><p class="s4">秋田県</p></li><li><p class="s5">山形県</p></li><li><p class="s6">福島県</p></li><li><p class="ac1">サービス</p></li></ul>
									<p class="day">2018.00.00</p>
									<p class="ttl">150周年記念酒</p>
									<div class="desc"><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></div>
								</a>
							</div>
							<div class="sl">
								<a href="/search/" class="btn">
									<div class="resizeRatioBox"><div class="resizeRatioBoxIn"><p class="resizeRatioImg"><img src="/serviceinfo/assets/img/top/img_news_01.jpg" alt="150周年酒"></p></div></div>
									<ul class="LBoxTagList"><li><p class="s1">青森県</p></li></ul>
									<p class="day">2018.00.00</p>
									<p class="ttl">150周年記念酒</p>
									<div class="desc"><p>ダミー<br>ダミー<br>テキスト<br>ダミーテキストダミーテキストダミーテキストダミーテキスト</p></div>
								</a>
							</div>
							<div class="sl">
								<a href="/search/" class="btn">
									<div class="resizeRatioBox"><div class="resizeRatioBoxIn"><p class="resizeRatioImg"><img src="/serviceinfo/assets/img/top/img_news_01.jpg" alt="150周年酒"></p></div></div>
									<ul class="LBoxTagList"><li><p class="s1">青森県</p></li></ul>
									<p class="day">2018.00.00</p>
									<p class="ttl">150周年記念酒</p>
									<div class="desc"><p>『関西うまいもの食いだおれ市』～京都・大阪・兵庫～　開催【仙台駅2階中央改札口前】<br>9/27(木)～10/4(木)<br><br>関西のうまいもの！食べ比べてみてください。<br><br>開催時間<br>9/27～10/3　10:00～20:00<br></p></div>
								</a>
							</div>
							<div class="sl">
								<a href="/search/" class="btn">
									<div class="resizeRatioBox"><div class="resizeRatioBoxIn"><p class="resizeRatioImg"><img src="/serviceinfo/assets/img/cms/_dummy_01.jpg" alt="ダミー"></p></div></div>
									<ul class="LBoxTagList"><li><p class="s1">青森県</p></li></ul>
									<p class="day">2018.00.00</p>
									<p class="ttl">ダミーテキスト</p>
									<div class="desc"><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキストテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></div>
								</a>
							</div>
							<div class="sl">
								<a href="/search/" class="btn">
									<div class="resizeRatioBox"><div class="resizeRatioBoxIn"><p class="resizeRatioImg"><img src="/serviceinfo/assets/img/cms/_dummy_02.jpg" alt="ダミー"></p></div></div>
									<ul class="LBoxTagList"><li><p class="s1">青森県</p></li></ul>
									<p class="day">2018.00.00</p>
									<p class="ttl">ダミーテキスト</p>
									<div class="desc"><p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p></div>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="btnMoreLink"><a href="/search/" class="btn arrowrit">More</a></div>
				<div class="scrollIn setObj setObj01"><div class="pos"><div class="obj obj01 scAniFade01"></div></div></div>
				<div class="scrollIn setObj setLeaf01"><div class="pos"><div class="obj objLeaf01 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf02"><div class="pos"><div class="obj objLeaf13 scAniLeaf01"></div></div></div>
				<!-- <div class="scrollIn setObj setLeaf03"><div class="pos"><div class="obj objLeaf03 scAniLeaf03"></div></div></div> -->
				<div class="scrollIn setObj setLeaf04"><div class="pos"><div class="obj objLeaf04 scAniLeaf04"></div></div></div>
				<div class="scrollIn setObj setLeaf05"><div class="pos"><div class="obj objLeaf01 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf06"><div class="pos"><div class="obj objLeaf06 scAniLeaf06"></div></div></div>
				<!-- <div class="scrollIn setObj setLeaf07"><div class="pos"><div class="obj objLeaf07 scAniLeaf07"></div></div></div> -->
				<div class="scrollIn setObj setLeaf08"><div class="pos"><div class="obj objLeaf08 scAniLeaf08"></div></div></div>
				<div class="scrollIn setObj setLeaf09"><div class="pos"><div class="obj objLeaf09 scAniLeaf09"></div></div></div>
				<div class="scrollIn setObj setLeaf10"><div class="pos"><div class="obj objLeaf10 scAniLeaf10"></div></div></div>
				<div class="scrollIn setObj setLeaf11"><div class="pos"><div class="obj objLeaf11 scAniLeaf11"></div></div></div>
				<div class="scrollIn setObj setLeaf12"><div class="pos"><div class="obj objLeaf12 scAniLeaf12"></div></div></div>
				<div class="scrollIn setObj setLeaf13"><div class="pos"><div class="obj objLeaf13 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf14"><div class="pos"><div class="obj objLeaf14 scAniLeaf14"></div></div></div>
				<div class="scrollIn setObj setLeaf15"><div class="pos"><div class="obj objLeaf15 scAniLeaf15"></div></div></div>
				<div class="scrollIn setObj setLeaf16"><div class="pos"><div class="obj objLeaf16 scAniLeaf16"></div></div></div>
				<div class="search">
					<div class="scrollIn setObj setObj01"><div class="pos"><div class="obj obj01 scAniFade01"></div></div></div>
					<div class="scrollIn setObj setObj02"><div class="pos"><div class="obj obj02 scAniFade01"></div></div></div>

					<div class="scrollIn setObj setLeaf01"><div class="pos"><div class="obj objLeaf01 scAniLeaf01"></div></div></div>
					<!-- <div class="scrollIn setObj setLeaf02"><div class="pos"><div class="obj objLeaf02 scAniLeaf01"></div></div></div> -->
					<!-- <div class="scrollIn setObj setLeaf03"><div class="pos"><div class="obj objLeaf03 scAniLeaf03"></div></div></div> -->
				</div>
				<div class="pickup">
					<div class="scrollIn setObj setObj01"><div class="pos"><div class="obj obj01 scAniSlide02"></div></div></div>
					<div class="scrollIn setObj setObj02"><div class="pos"><div class="obj obj02 scAniSlide03"></div></div></div>
					<div class="scrollIn setObj setObj03"><div class="pos"><div class="obj obj03 scAniFade01"></div></div></div>
	
					<!-- <div class="scrollIn setObj setLeaf01"><div class="pos"><div class="obj objLeaf01 scAniLeaf05"></div></div></div> -->
					<!-- <div class="scrollIn setObj setLeaf02"><div class="pos"><div class="obj objLeaf02 scAniLeaf01"></div></div></div>
					<div class="scrollIn setObj setLeaf03"><div class="pos"><div class="obj objLeaf03 scAniLeaf03"></div></div></div>
					<div class="scrollIn setObj setLeaf04"><div class="pos"><div class="obj objLeaf04 scAniLeaf12"></div></div></div> -->
					<!-- <div class="scrollIn setObj setLeaf05"><div class="pos"><div class="obj objLeaf05 scAniLeaf06"></div></div></div>
					<div class="scrollIn setObj setLeaf06"><div class="pos"><div class="obj objLeaf06 scAniLeaf11"></div></div></div>
					<div class="scrollIn setObj setLeaf07"><div class="pos"><div class="obj objLeaf07 scAniLeaf07"></div></div></div> -->
				</div>
			</div>
		</div>
      </div>
	  <div class="bgBottom"></div>		
	</section>

	<section class="shop">
		<div class="wrap">
			<div class="pos">
				<div class="ttlh2 fontM"><h2>日常の<br class="sp">お買いもの</h2></div>
				<div class="ttlh2sub"><h3><img src="/serviceinfo/assets/img/top/ttl_sub_shop.png" alt="For daily use" height="17" width="102"></h3></div>

				<div class="lead fontM"><p>毎日の暮らしをもっと豊かに。<br class="sp">楽しいお買いもの情報をお届けします。</p></div>

				<div class="linkBox">
					<ul class="linkList">
						<li>
							<a href="/tekute/" class="btn">
								<p class="img"><img src="/serviceinfo/assets/img/top/img_shop_01.jpg" alt="tekute" height="224" width="400"></p>
								<p class="ttl">tekute</p>
								<p class="desc">駅直結の食と生活雑貨などが揃うショッピングセンター</p>
							</a>
						</li>
						<li>
							<a href="/pivot/" class="btn">
								<p class="img"><img src="/serviceinfo/assets/img/top/img_shop_02.jpg" alt="Pivot" height="224" width="400"></p>
								<p class="ttl">Pivot</p>
								<p class="desc">クオリティにこだわった食品を扱う宮城・福島の駅隣接ショッピングセンター</p>
							</a>
						</li>
						<!-- <li>
							<a href="/search/" class="btn">
								<p class="img"><img src="/serviceinfo/assets/img/top/img_shop_04.jpg" alt="シーガルタウン本八戸" height="224" width="400"></p>
								<p class="ttl">シーガルタウン本八戸</p>
								<p class="desc">JR本八戸駅直結の便利なショッピングセンター</p>
							</a>
						</li> -->
						<li>
							<a href="/search/" class="btn">
								<p class="img"><img src="/serviceinfo/assets/img/top/img_shop_05.jpg" alt="秋田生鮮市場保戸野店" height="224" width="400"></p>
								<p class="ttl">秋田生鮮市場保戸野店</p>
								<p class="desc">秋田の新鮮な食品を取り揃えたスーパーマーケット</p>
							</a>
						</li>
						<li>
							<a href="https://www.jreastmall.com/shop/c/c13/?utm_source=livithp_n&utm_medium=shoptop_banner" target="_blank" class="btn">
								<p class="img"><img src="/serviceinfo/assets/img/top/img_shop_08.jpg" alt="東北MONO WEB SHOP" height="224" width="400"></p>
								<p class="ttl">東北MONO WEB SHOP（旧 GIFT SHOP トライ・ワン）</p>
								<p class="desc">東北の隠れた名品や生産者のこだわり商品等取り揃えております。</p>
							</a>
						</li>
					</ul>
				</div>


				<div class="scrollIn setObj setObj01"><div class="pos"><div class="obj obj01 scAniSlide02"></div></div></div>
				<div class="scrollIn setObj setObj02"><div class="pos"><div class="obj obj02 scAniFade01"></div></div></div>
				<div class="scrollIn setObj setObj03"><div class="pos"><div class="obj obj03 scAniSlide02"></div></div></div>
				<div class="scrollIn setObj setObj04"><div class="pos"><div class="obj obj04 scAniSlide03"></div></div></div>
				<div class="scrollIn setObj setObj05"><div class="pos"><div class="obj obj05 scAniFade01"></div></div></div>
				<div class="scrollIn setObj setObj06"><div class="pos"><div class="obj obj06 scAniFade01"></div></div></div>
				<div class="scrollIn setObj setObj07"><div class="pos"><div class="obj obj07 scAniSlide02"></div></div></div>

				<div class="scrollIn setObj setLeaf01"><div class="pos"><div class="obj objLeaf01 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf02"><div class="pos"><div class="obj objLeaf02 scAniLeaf09"></div></div></div>
				<!-- <div class="scrollIn setObj setLeaf03"><div class="pos"><div class="obj objLeaf03 scAniLeaf01"></div></div></div> -->
				<div class="scrollIn setObj setLeaf04"><div class="pos"><div class="obj objLeaf04 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf05"><div class="pos"><div class="obj objLeaf05 scAniLeaf09"></div></div></div>
				<div class="scrollIn setObj setLeaf06"><div class="pos"><div class="obj objLeaf06 scAniLeaf12"></div></div></div>
				<div class="scrollIn setObj setLeaf07"><div class="pos"><div class="obj objLeaf07 scAniLeaf02"></div></div></div>
				<div class="scrollIn setObj setLeaf08"><div class="pos"><div class="obj objLeaf08 scAniLeaf05"></div></div></div>
				<div class="scrollIn setObj setLeaf09"><div class="pos"><div class="obj objLeaf09 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf10"><div class="pos"><div class="obj objLeaf10 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf11"><div class="pos"><div class="obj objLeaf11 scAniLeaf02"></div></div></div>
				<div class="scrollIn setObj setLeaf12"><div class="pos"><div class="obj objLeaf06 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf13"><div class="pos"><div class="obj objLeaf13 scAniLeaf11"></div></div></div>
				<div class="scrollIn setObj setLeaf14"><div class="pos"><div class="obj objLeaf14 scAniLeaf16"></div></div></div>
				<div class="scrollIn setObj setLeaf15"><div class="pos"><div class="obj objLeaf05 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf16"><div class="pos"><div class="obj objLeaf16 scAniLeaf01"></div></div></div>
				<div class="scrollIn setObj setLeaf17"><div class="pos"><div class="obj objLeaf17 scAniLeaf02"></div></div></div>
				<div class="scrollIn setObj setLeaf18"><div class="pos"><div class="obj objLeaf23 scAniLeaf04"></div></div></div>
				<div class="scrollIn setObj setLeaf19"><div class="pos"><div class="obj objLeaf19 scAniLeaf05"></div></div></div>
				<div class="scrollIn setObj setLeaf20"><div class="pos"><div class="obj objLeaf20 scAniLeaf03"></div></div></div>
				<div class="scrollIn setObj setLeaf21"><div class="pos"><div class="obj objLeaf21 scAniLeaf10"></div></div></div>
				<div class="scrollIn setObj setLeaf22"><div class="pos"><div class="obj objLeaf22 scAniLeaf13"></div></div></div>
				<div class="scrollIn setObj setLeaf23"><div class="pos"><div class="obj objLeaf23 scAniLeaf04"></div></div></div>
				<div class="scrollIn setObj setLeaf24"><div class="pos"><div class="obj objLeaf19 scAniLeaf05"></div></div></div>
				<div class="scrollIn setObj setLeaf25"><div class="pos"><div class="obj objLeaf04 scAniLeaf01"></div></div></div>

			</div>
		</div>
	</section>


	<section class="other">
		<div class="bgHead"></div>
		<div class="bgMian">
			<div class="wrap">
				<div class="pos">
					<div class="ttlh2 fontM"><h2>ソーシャルメディア</h2></div>
					<div class="ttlh2sub"><h3><img src="/serviceinfo/assets/img/top/ttl_sub_social.png" alt="Social Media" height="12" width="100"></h3></div>

					<div class="linkBox linkBox2colHorizon">
						<ul class="linkList">
							<li>
								<a href="/company/social-policy/#SNS" class="btn"><img src="/serviceinfo/assets/img/top/img_social.png" alt="" height="224" width="400"></a>
							</li>
						</ul>
					</div>


					<div class="scrollIn setObj setObj01"><div class="pos"><div class="obj obj01 scAniSlide01"></div></div></div>
					<div class="scrollIn setObj setObj02"><div class="pos"><div class="obj obj02 scAniSlide01"></div></div></div>
					<!-- <div class="scrollIn setObj setObj03"><div class="pos"><div class="obj obj03 scAniFade01"></div></div></div> -->
					<div class="scrollIn setObj setObj04"><div class="pos"><div class="obj obj04 scAniFade01"></div></div></div>

					<div class="scrollIn setObj setLeaf01"><div class="pos"><div class="obj objLeaf01 scAniLeaf06"></div></div></div>

				</div>
			</div>
		</div>
		<div class="bgBottom"></div>
	</section>


	<section class="business">
		<div class="wrap">
			<div class="heading"><div class="ttl"><h3>事業者の方へ</h3></div></div>
			<div class="lead"><p>エキナカの交通広告掲出や、<br class="sp">JR駅内・ショッピングセンター等での<br class="sp">営業のパートナーを募集しています。</p></div>

			<div class="linkBox linkBox2colHorizon">
				<ul class="linkList">
					<li>
						<a href="/transit-advertising/" class="btn">
							<dl>
								<dt>
									<p class="img"><img src="/serviceinfo/assets/img/top/img_business_01.jpg" alt="JR東日本交通広告" height="224" width="400"></p>
								</dt>
								<dd>
									<div class="bx">
										<div class="hd"><p class="ttl">JR東日本交通広告</p><p class="desc"><span>交通広告や媒体制作等のご相談・お申込みはこちら</span></p></div>
										<div class="btm"><p>More</p></div>
									</div>
								</dd>
							</dl>
						</a>
					</li>
					<li>
						<a href="/tenant/" class="btn">
							<dl>
								<dt>
									<p class="img"><img src="/serviceinfo/assets/img/top/img_business_02.jpg" alt="出店募集" height="224" width="400"></p>
								</dt>
								<dd>
									<div class="bx">
										<div class="hd"><p class="ttl">出店募集のご案内</p><p class="desc"><span>JR駅内やショッピングセンターへの出店のご相談・お申込みはこちら</span></p></div>
										<div class="btm"><p>More</p></div>
									</div>
								</dd>
							</dl>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</section>
</article>


<!-- /.tpl_contents --></div>
</main>
<aside class="tpl_btmBnr" role="complementary">
	<div class="tpl_wrap">
		<div class="tpl_btmRelated">
			<div class="tpl_linkBox">
				<ul class="tpl_linkList">
					<li><a href="https://www.jrepoint.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_01.jpg" alt="JRE POINT" height="81" width="321"></a></li>
					<li><a href="https://shopping.jreast.co.jp/shop/detail/s013?utm_source=livithp_u&utm_medium=shoptop_banner" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_02.jpg" alt="東北MONO" height="81" width="321"></a></li>
					<li><a href="https://furusato.jreast.co.jp/furusato?utm_source=livit.jregroup.ne.jp&utm_medium=referral&utm_campaign=jgrf_202307_livit_furusato" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_03.jpg" alt="JRE MALL ふるさと納税" height="81" width="321"></a></li>
					<li><a href="https://media.jreast.co.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_04.png" alt="JR東日本の鉄道おでかけメディアJRE MALL Media" height="81" width="321"></a></li>
					<li><a href="https://sendai-mid-station.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_05.jpg" alt="SENDAI MID STATION" height="81" width="321"></a></li>
					<li><a href="http://www.jreast.co.jp/suicamoney/index.html/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_06.png" alt="Suica" height="81" width="321"></a></li>
					<li><a href="https://www.jreast.co.jp/card/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_07.jpg" alt="VIEW CARD" height="81" width="321"></a></li>
					<li><a href="https://familio-folkloro.com/takahata/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_08.jpg" alt="フォルクローロ" height="81" width="321"></a></li>
					<li><a href="https://www.jreast.co.jp/card/campaign/adm/jrecard.html" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_10.png" alt="JRE CARD" height="81" width="321"></a></li>
				</ul> 
			</div>
		</div>
	</div>
</aside>
<!--#include virtual="/serviceinfo/assets/inc/footer.html" -->
<!-- /.tpl_wrapper --></div>
<!-- /. --></div>
<!-- [start]script -->
<script src="/serviceinfo/assets/js/common/jquery.js"></script>
<script src="/serviceinfo/assets/js/common/base.js"></script>
<script src="/serviceinfo/assets/js/common/common.js"></script>
<script src="/serviceinfo/assets/js/common/slick.js"></script>
<script src="/serviceinfo/assets/js/top/top.js"></script>
<script src="/js/searchbox.js"></script>
<!-- [end]script -->
<!--#include virtual="/serviceinfo/assets/inc/body_close.html" -->
</body>
</html>
