@charset "UTF-8";
/* =========================================================
	Company / Recruit / Guideline
========================================================= */
/* Common
----------------------------------------------------------*/
.headline02 span {
	background-color: #FEF9DC;
}
.tblTitle {
	width: auto;
	font-size: 1.6rem;
	line-height: 1.9;
}
.cmnTable01 {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
}
.cmnTable01 > dl > dt {
	width: 160px;
	font-size: 1.6rem;
	text-align: center;
}
.cmnTable01 > dl > dd {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 1.4rem;
	line-height: 1.4;
}
.cmnTable01 .list li {
	padding-left: 1em;
	text-indent: -1em;
}
.cmnTable01 .list li:before {
	content: "・";
}
.career-tasu_btn {
	margin-top: 60px;
	text-align: center;
}
.career-tasu_btn a:first-child {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.career-tasu_btn a:last-child {
	display: inline-block;
	margin-top: 7px;
	font-size: 1.8rem;
	color: #2626FF;
}
.list_btn {
	margin-top: 60px;
}
.list_btn li {
	width: 380px;
	margin: 0 auto;
}
@media screen and (max-width: 767px) {
	.list_btn {
		margin-top: 25px;
	}
.list_btn li {
    width: 80%;
    margin: 0 auto;
}
	.tblTitle {
		font-size: 1.4rem;
	}
	.cmnTable01 > dl > dt {
		font-size: 1.4rem;
		width: auto;
		text-align: left;
	}
	.lead .cmnTable01 > dl > dt {
		text-align: center;
	}
	.cmnTable01 > dl > dd {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.2rem;
		text-align: left;
	}
	.career-tasu_btn {
		margin-top: 30px;
	}
	.career-tasu_btn a:first-child {
		padding-top: 3px;
		padding-bottom: 3px;
		width: 230px;
	}
	.career-tasu_btn a:first-child img {
		width: 180px;
	}
	.career-tasu_btn a:last-child {
		font-size: 1.4rem;
	}
	.tabConts {
		padding-bottom: 25px;
	}
}

/* Characteristic
----------------------------------------------------------*/
@media screen and (min-width: 768px) {
	#conts {
		margin-top: 0;
	}
}
.lead .txt {
	text-align: center;
	font-weight: normal;
}
.lead .table {
	margin-top: 30px;
}
.bg-pettern03 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.btnList01 {
	margin-bottom: 35px;
}
/* .general .title02, */
.employed .title02 {
	margin-top: 50px;
}
.general .title02 {
	margin-top: 50px;
}
/* .general .title02,
.employed .title02 {
	margin-top: 50px;
} */
.employed .entry_btn {
	margin-top: 60px;
}
@media screen and (max-width: 767px) {
	.lead .txt {
		text-align: left;
	}
	.lead .table {
		margin-top: 25px;
	}
	.bg-pettern03 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.general .title02,
	.employed .title02 {
		margin-top: 56px;
	}
	.employed .entry_btn {
		margin-top: 30px;
	}
}


@media print {
	#conts {
		margin-top: 0;
	}
}