<!DOCTYPE html>
<!--#include virtual="/serviceinfo/assets/inc/meta_head.html" -->
<title>tekute｜JR東日本東北総合サービス株式会社【LiViT】</title>
<meta name="description" content="てくてく歩く先に、人が集い、笑顔が行き交い、そして街が、地域が元気で満たされていくーそんな、ワクワクの起点となる場所をつくりたくてtekuteは誕生しました。晴れの日も、くもりの日も、雨の日も、tekuteはいつも、暮らしのとなりにいます。おいしいもの、すてきなものがいっぱいのtekuteに気軽にてくてく、足を運んでみませんか。">
<meta name="keywords" content="宮城,仙台,長町,多賀城,塩竈,本塩釜,駅,ショッピング,買い物,飲食店,生鮮,食料品,雑貨,手土産,プレゼント,弁当,惣菜,スイーツ,カフェ,てくて,テクテ,tekute,店舗一覧">
<meta property="og:title" content="tekute｜JR東日本東北総合サービス株式会社【LiViT】">
<meta property="og:description" content="てくてく歩く先に、人が集い、笑顔が行き交い、そして街が、地域が元気で満たされていくーそんな、ワクワクの起点となる場所をつくりたくてtekuteは誕生しました。晴れの日も、くもりの日も、雨の日も、tekuteはいつも、暮らしのとなりにいます。おいしいもの、すてきなものがいっぱいのtekuteに気軽にてくてく、足を運んでみませんか。">
<meta property="og:url" content="http://www.livit.jregroup.ne.jp/tekute/index.html">
<!--#include virtual="/serviceinfo/assets/inc/meta_bottom.html" -->
<!-- [start]css -->
<link rel="stylesheet" href="/serviceinfo/assets/css/common/reset.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/base.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/common.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/swiper.min.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/tekute/tekute.css">
<!-- [end]css -->
<!--#include virtual="/serviceinfo/assets/inc/head_close.html" -->
<link rel="stylesheet" href="https://www.livit.jregroup.ne.jp/css/override.css">
</head>
<body class="tekute tekute_top">
<div class="serviceIndex">
		<div class="tpl_wrapper"> 
				<!--#include virtual="/serviceinfo/assets/inc/header.html" -->
				<main role="main" class="main">
				<div class="breadcrumbs">
								<div class="wrap">
										<ul class="breadcrumbsList">
												<li><a href="/"><img src="/serviceinfo/assets/img/common/ico_breadcrumbs_home.png" alt="home" height="10" width="12"></a></li>
												<li>tekute</li>
										</ul>
								</div>
						</div>
						<div class="tpl_contents">
								<section class="mainVisual">
									<div class="message">
									   <h2><img src="/serviceinfo/assets/img/tekute/tekute.png" alt="tekute"></h2>
									   <p class="txt"><img src="/serviceinfo/assets/img/tekute/message.png" alt="てくてく歩く先に、人が集い、笑顔が行き交い、そして街が、地域が、元気で満たされていく"></p>
									   <div class="swiper-container slider-thumbnail">
										<div class="swiper-wrapper">
											<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_thumb01.jpg" alt=""></div>
											<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_thumb02.jpg" alt=""></div>
											<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_thumb03.jpg" alt=""></div>
											<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_thumb04.jpg" alt=""></div>
											<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_thumb05.jpg" alt=""></div>
										</div>
									</div> 
									</div>  
									<div class="swiper-container slider" id="slide">
										<div class="swiper-wrapper">
												<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_slide01_pc.jpg" alt="" class="pc"><img src="/serviceinfo/assets/img/tekute/top_slide01_sp.jpg" alt="" class="sp"></div>
												<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_slide02_pc.jpg" alt="" class="pc"><img src="/serviceinfo/assets/img/tekute/top_slide02_sp.jpg" alt="" class="sp"></div>
												<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_slide03_pc.jpg" alt="" class="pc"><img src="/serviceinfo/assets/img/tekute/top_slide03_sp.jpg" alt="" class="sp"></div>
												<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_slide04_pc.jpg" alt="" class="pc"><img src="/serviceinfo/assets/img/tekute/top_slide04_sp.jpg" alt="" class="sp"></div>
												<div class="swiper-slide"><img src="/serviceinfo/assets/img/tekute/top_slide05_pc.jpg" alt="" class="pc"><img src="/serviceinfo/assets/img/tekute/top_slide05_sp.jpg" alt="" class="sp"></div>
										</div>
									</div>
									
								</section>
								
								<!-- <section class="search">
										<div class="searchArea">
												<div class="acdn bginner">
														<div class="acdnBlk">
																<dl class="bar js_acdntrigger">
																		<dt>
																				<p class="ico"><span></span><span></span></p>
																		</dt>
																		<dd>
																				<p class="ttl">What are you looking for? 何をお探しですか？条件で絞り込むことができます。</p>
																		</dd>
																</dl>
														</div>
														<div class="acdnPanel">
																<div class="panelInner">
																		<div class="searchBoxFrom">
																				<form action="/search/" method="get" name="topSearch" id="topSearch">
																					<div class="unit unit01 arrow">
																						<dl class="row">
																								<dt>
																										<p>どこで？</p>
																								</dt>
																								<dd>
																										<ul class="fList">
																												<li><input id="s13" name="s13" type="checkbox" value="s13"><label for="s13">せんだい</label></li>
																												<li><input id="s14" name="s14" type="checkbox" value="s14"><label for="s14">ながまち</label></li>
																												<li><input id="s11" name="s11" type="checkbox" value="s11"><label for="s11">たがじょう</label></li>																												</label></li>
																												<li><input id="s12" name="s12" type="checkbox" value="s12"><label for="s12">ほんしおがま</label></li>
																										</ul>
																								</dd>
																						</dl>
																				</div>
																				<div class="unit unit02 arrow">
																						<dl class="row">
																								<dt>
																										<p>何を探す？</p>
																								</dt>
																								<dd>
																										<ul class="fList">
																												<li><input id="s1" name="s1" type="checkbox" value="s1"><label for="s1">食料品・日用品</label></li>
																												<li><input id="s2" name="s2" type="checkbox" value="s2"><label for="s2">弁当・惣菜</label></li>
																												<li><input id="s3" name="s3" type="checkbox" value="s3"><label for="s3">手土産・ギフト</label></li>
																												<li><input id="s4" name="s4" type="checkbox" value="s4"><label for="s4">カフェ・飲食店</label></li>
																												<li><input id="s5" name="s5" type="checkbox" value="s5"><label for="s5">サービス</label></li>
																												<li><input id="s6" name="s6" type="checkbox" value="s6"><label for="s6">おすすめ品</label></li>
																												<li><input id="s10" name="s10" type="checkbox" value="s10"><label for="s10">ニュース・イベント</label></li>
																												<li><input id="s7" name="s7" type="checkbox" value="s7"><label for="s7">てくてNEWS</label></li>
																												<li><input id="s9" name="s9" type="checkbox" value="s9"><label for="s9">求人情報</label></li>
																												<li><input id="s8" name="s8" type="checkbox" value="s8"><label for="s8">ショップ一覧</label></li>
																										</ul>
																								</dd>
																						</dl>
																				</div>
																				<div class="unit unit03">		
																						<dl class="row keyword">
																								<dt>
																										<p>キーワード</p>
																								</dt>
																								<dd>
																										<div class="keyBox"><input type="text" placeholder="キーワードを入力してください。" name="keywords"><p class="kome">※検索したいキーワードをスペースを空けて入力してください。例）仙台駅 カフェ</p></div>
																								</dd>
																						</dl>
																				 </div>		
																						<ul class="btnList">
																								<li>
																										<div class="rst" id="js_allclear">
																												<p class="btn">検索条件のクリア</p>
																										</div>
																								</li>
																								<li>
																										<button class="smt" type='submit'>
																										<p class="btn">この条件で検索する</p>
																										</button>
																								</li>
																						</ul>
																				</form>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</section> -->
								<section class="shop">
									<div class="inner">
										<h2 class="tit"><img src="/serviceinfo/assets/img/tekute/ttl_shop.png" alt="Shop 店舗一覧"></h2>
										<ul class="shoplist">
											<li><a href="/tekute/sendai.html"><p class="thumb"><img src="/serviceinfo/assets/img/tekute/shop_img01.jpg" alt="tekuteせんだい"></p>
											<dl class="data">
												<dt>JR仙台駅1F</dt>
												<dd>tekuteせんだい</dd>
											</dl></a></li>
											<li><a href="/tekute/nagamachi.html"><p class="thumb"><img src="/serviceinfo/assets/img/tekute/shop_img02.jpg" alt="tekuteながまち"></p>
											<dl class="data">
												<dt>JR長町駅直結</dt>
												<dd>tekuteながまち</dd>
											</dl></a></li>
											<li><a href=""><p class="thumb"><img src="/serviceinfo/assets/img/tekute/shop_img03.jpg" alt="tekuteたがじょう"></p>
											<dl class="data">
												<dt>JR多賀城駅直結</dt>
												<dd>tekuteたがじょう</dd>
											</dl></a></li>
											<li><a href=""><p class="thumb"><img src="/serviceinfo/assets/img/tekute/shop_img04.jpg" alt="tekuteほんしおがま"></p>
											<dl class="data">
												<dt>JR本塩釜駅1F</dt>
												<dd>tekuteほんしおがま</dd>
											</dl></a></li>
										</ul>
									</div>
								</section>
								
						</div>
				</main>
				<aside class="tpl_btmBnr" role="complementary">
						<div class="tpl_wrap">
								<div class="tpl_btmRelated">
										<div class="tpl_linkBox">
											<ul class="tpl_linkList">
												<li><a href="https://www.jrepoint.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_01.jpg" alt="JRE POINT" height="81" width="321"></a></li>
												<li><a href="https://shopping.jreast.co.jp/shop/detail/s013?utm_source=livithp_u&utm_medium=shoptop_banner" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_02.jpg" alt="東北MONO" height="81" width="321"></a></li>
												<li><a href="https://furusato.jreast.co.jp/furusato?utm_source=livit.jregroup.ne.jp&utm_medium=referral&utm_campaign=jgrf_202307_livit_furusato" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_03.jpg" alt="JRE MALL ふるさと納税" height="81" width="321"></a></li>
												<li><a href="https://media.jreast.co.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_04.png" alt="JR東日本の鉄道おでかけメディアJRE MALL Media" height="81" width="321"></a></li>
												<li><a href="https://yorimichi-sendai.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_05.jpg" alt="ヨリ未知 SENDAI" height="81" width="321"></a></li>
												<li><a href="http://www.jreast.co.jp/suicamoney/index.html/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_06.png" alt="Suica" height="81" width="321"></a></li>
												<li><a href="https://www.jreast.co.jp/card/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_07.jpg" alt="VIEW CARD" height="81" width="321"></a></li>
												<li><a href="https://familio-folkloro.com/takahata/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_08.jpg" alt="フォルクローロ" height="81" width="321"></a></li>
												<li><a href="https://www.jreast.co.jp/card/campaign/adm/jrecard.html" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_10.png" alt="JRE CARD" height="81" width="321"></a></li>
											</ul>
										</div>
								</div>
						</div>
				</aside>
				
				<!--#include virtual="/serviceinfo/assets/inc/footer.html" --> 
				<!-- /.tpl_wrapper --></div>
		<!-- /.serviceIndex --> 
</div>
<!-- [start]script -->
<script src="/serviceinfo/assets/js/common/jquery.js"></script>
<script src="/serviceinfo/assets/js/common/base.js"></script>
<script src="/serviceinfo/assets/js/common/common.js"></script>
<script src="/serviceinfo/assets/js/common/matchheight.js"></script>
<script src="/serviceinfo/assets/js/common/swiper.min.js"></script>
<script src="/serviceinfo/assets/js/common/ofi.min.js"></script>
<script>
	let sliderThumbnail = new Swiper('.slider-thumbnail', {
		slidesPerView: 4,
		spaceBetween: 20,
		freeMode: true,
		watchSlidesVisibility: true,
		watchSlidesProgress: true
	});

	let slider = new Swiper('.slider', {
		loop: true,
		speed: 1000,
		slideToClickedSlide: true,
		effect: 'fade',
		autoplay: {
			delay: 2000
		},
		thumbs: {
			swiper: sliderThumbnail
		}
	})

$(function(){

    objectFitImages();
	
	$('.storebox .box').matchHeight();
	
});
</script> 
<!-- [end]script --> 
<!--#include virtual="/serviceinfo/assets/inc/body_close.html" -->
</body>
</html>
