<!DOCTYPE html>
<!--#include virtual="/serviceinfo/assets/inc/meta_head.html" -->
<title>tekuteせんだい｜JR東日本東北総合サービス株式会社【LiViT】</title>
<meta name="description" content="JR仙台駅内に位置し、惣菜、スイーツなどを取扱う専門店と、お買い物中休憩やお食事ができる飲食店が揃っており便利です。毎日のお買い物はもちろん、休日のちょっとしたお出かけにもお使いいただけます。">
<meta name="keywords" content="仙台,ショッピング,買い物,飲食店,食料品,生鮮,雑貨,手土産,プレゼント,弁当,惣菜,スイーツ,てくて,テクテ,tekute,ＡＴＭ,店舗情報">
<meta property="og:title" content="tekuteせんだい｜JR東日本東北総合サービス株式会社【LiViT】">
<meta property="og:description" content="JR仙台駅内に位置し、惣菜、スイーツなどを取扱う専門店と、お買い物中休憩やお食事ができる飲食店が揃っており便利です。毎日のお買い物はもちろん、休日のちょっとしたお出かけにもお使いいただけます。">
<meta property="og:url" content="http://www.livit.jregroup.ne.jp/tekute/sendai.html">
<!--#include virtual="/serviceinfo/assets/inc/meta_bottom.html" -->
<!-- [start]css -->
<link rel="stylesheet" href="/serviceinfo/assets/css/common/reset.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/base.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/common.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/slick.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/tekute/tekute.css">
<!-- [end]css -->
<!--#include virtual="/serviceinfo/assets/inc/head_close.html" -->
<link rel="stylesheet" href="https://www.livit.jregroup.ne.jp/css/override.css">
</head>
<body class="tekute sendai">
<div class="serviceIndex">
		<div class="tpl_wrapper"> 
				<!--#include virtual="/serviceinfo/assets/inc/header.html" -->
				<main role="main" class="main">
				<div class="breadcrumbs">
								<div class="wrap">
										<ul class="breadcrumbsList">
												<li><a href="/"><img src="/serviceinfo/assets/img/common/ico_breadcrumbs_home.png" alt="home" height="10" width="12"></a></li>
												<li><a href="/tekute/">tekute</a></li>
												<li>tekuteせんだい</li>
										</ul>
								</div>
						</div>
						<div class="tpl_contents">
								<div class="headingTtl">
										<p class="logo"><img src="/serviceinfo/assets/img/tekute/ttl_sendai.png" alt="tekuteせんだい"></p>
										<ul class="sns">
                                          <!-- <li class="fb"><a href="https://www.facebook.com/%E3%81%A6%E3%81%8F%E3%81%A6-%E3%81%AA%E3%81%8C%E3%81%BE%E3%81%A1-546544438851521" target="_blank"><img src="/serviceinfo/assets/img/common/btn_fb.png" width="100%" alt="faebook"></a></li> -->
                                          <li class="line"><a href="https://page.line.me/shb5649n" target="_blank"><img src="/serviceinfo/assets/img/common/btn_line.png" width="100%" alt=""></a></li>
                                        </ul>
								</div>
								<section class="mainVisual">
									<div class="video">
										<div id="player"></div>
									</div>
										<!-- <ul id="slide" class="main-slider">
												<li><img src="/serviceinfo/assets/img/tekute/sendai_slide01_pc.jpg" alt="" class="pc"><img src="/serviceinfo/assets/img/tekute/sendai_slide01_sp.jpg" alt="" class="sp"></li>
										</ul> -->
								</section>
								<section class="search">
										<div class="searchArea">
												<div class="acdn bginner">
														<div class="acdnBlk">
																<dl class="bar js_acdntrigger">
																		<dt>
																				<p class="ico"><span></span><span></span></p>
																		</dt>
																		<dd>
																				<p class="ttl">What are you looking for? 何をお探しですか？条件で絞り込むことができます。</p>
																		</dd>
																</dl>
														</div>
														<div class="acdnPanel">
																<div class="panelInner">
																		<div class="searchBoxFrom">
																				<form action="/search/" method="get" name="topSearch" id="topSearch">
																					<div class="unit unit01 arrow">
																						<dl class="row">
																								<dt>
																										<p>どこで？</p>
																								</dt>
																								<dd>
																									<ul class="fList">
																										<li><input id="s13" name="s13" type="checkbox" value="s13" checked="checked"><label for="s13">せんだい</label></li>
																										<li><input id="s14" name="s14" type="checkbox" value="s14"><label for="s14">ながまち</label></li>
																										<li><input id="s11" name="s11" type="checkbox" value="s11"><label for="s11">たがじょう</label></li>																												
																										<li><input id="s12" name="s12" type="checkbox" value="s12"><label for="s12">ほんしおがま</label></li>
																								</ul>
																								</dd>
																						</dl>
																				</div>
																				<div class="unit unit02 arrow">
																						<dl class="row">
																								<dt>
																										<p>何を探す？</p>
																								</dt>
																								<dd>
																										<ul class="fList">
																												<li><input id="s1" name="s1" type="checkbox" value="s1"><label for="s1">食料品・日用品</label></li>
																												<li><input id="s2" name="s2" type="checkbox" value="s2"><label for="s2">弁当・惣菜</label></li>
																												<li><input id="s3" name="s3" type="checkbox" value="s3"><label for="s3">手土産・ギフト</label></li>
																												<li><input id="s4" name="s4" type="checkbox" value="s4"><label for="s4">カフェ・飲食店</label></li>
																												<li><input id="s5" name="s5" type="checkbox" value="s5"><label for="s5">サービス</label></li>
																												<li><input id="s6" name="s6" type="checkbox" value="s6"><label for="s6">おすすめ品</label></li>
																												<li><input id="s10" name="s10" type="checkbox" value="s10"><label for="s10">ニュース・イベント</label></li>
																												<li><input id="s7" name="s7" type="checkbox" value="s7"><label for="s7">てくてNews</label></li>
																												<li><input id="s9" name="s9" type="checkbox" value="s9"><label for="s9">求人情報</label></li>
																												<li><input id="s8" name="s8" type="checkbox" value="s8"><label for="s8">ショップ一覧</label></li>
																										</ul>
																								</dd>
																						</dl>
																				</div>
																				<div class="unit unit03">		
																						<dl class="row keyword">
																								<dt>
																										<p>キーワード</p>
																								</dt>
																								<dd>
																										<div class="keyBox"><input type="text" placeholder="キーワードを入力してください。" name="keywords"><p class="kome">※検索したいキーワードをスペースを空けて入力してください。例）仙台駅 カフェ</p></div>
																								</dd>
																						</dl>
																				 </div>		
																						<ul class="btnList">
																								<li>
																										<div class="rst" id="js_allclear">
																												<p class="btn">検索条件のクリア</p>
																										</div>
																								</li>
																								<li>
																										<button class="smt" type='submit'>
																										<p class="btn">この条件で検索する</p>
																										</button>
																								</li>
																						</ul>
																				</form>
																		</div>
																</div>
														</div>
												</div>
										</div>
								</section>
								<section class="news">
										<div class="inner slickSlider">
												<h2 class="tit"><img src="/serviceinfo/assets/img/tekute/ttl_news.png" alt="News event ニュース・イベント"></h2>
												<div class="LinkBox3col ">
												<ul class="slider 3column-slider">
														<li><a href="">
																<div class="resizeRatioBox">
																		<div class="resizeRatioBoxIn">
																				<div class="resizeRatioImg"> <img src="/serviceinfo/assets/img/tekute/thumb01.jpg" alt=""> </div>
																		</div>
																</div>
																<ul class="LBoxTagList">
																		<li class="s4">長町駅</li>
                  <li class="ac1">ニュース・イベント</li>
																</ul>
																<p class="day">2019.01.09</p>
																<dl>
			             <dt>1月イベント情報</dt>
			             <dd><p class="ellipsis">◇tekuteせんだい◇<br>tekuteせんだいは1月もイベント盛りだくさん♪<br><br>☆tekuteせんだいトップページはこちら→<br><br></p></dd>
			            </dl>
															</a>
														</li>
														<li>
														<a href="">
																<div class="resizeRatioBox">
																		<div class="resizeRatioBoxIn">
																				<div class="resizeRatioImg"> <img src="/serviceinfo/assets/img/tekute/thumb02.jpg" alt=""> </div>
																		</div>
																</div>
																<ul class="LBoxTagList">
																		<li class="s4">長町駅</li>
                  <li class="ac1">ニュース・イベント</li>
																</ul>
																<p class="day">2019.01.09</p>
																 <dl>
			              <dt>フラワーアレンジメント教室</dt>
			              <dd><p class="ellipsis">◇tekuteせんだい◇<br>【開催日】2019/1/12（土）、1/29（火）<br>フラワープロデュースによるアレンジメント教室を開催♪<br>季節のお花で素敵なアレンジメントを作りませんか。<br>簡単に作ることができるので初心者の方も大歓迎です★<br><br>【時間】1/12（土）14：00～<br>　　　　1/29（火）14：00～<br><br>【場所】てく×てくステーション<br>【参加費】3,000円<br>【定員】10名<br><br>☆tekuteせんだいトップページはこちら→<br><br></p></dd>
			             </dl>
																</a>
														</li>
														
												</ul>
											</div>	
												<div class="btn_more"><a href=""><img src="/serviceinfo/assets/img/tekute/btn_more.gif" alt="More"></a></div>
										</div>
								</section>
								
								<section class="floormap">
										<div class="inner tab">
												<h2 class="tit"><img src="/serviceinfo/assets/img/tekute/ttl_floormap.png" alt="Flore map フロアマップ"></h2>
												<ul class="tab-list">
													<li class="selected"><a href="javascript:void(0)" data-tabid="1">tekuteせんだい</a></li>
													<li><a href="javascript:void(0)" data-tabid="2">tekute dining</a></li>
												</ul>

												<div class="tab-panel">
												<div class="map" data-contentid="1">
														<iframe src="map_sendai.html" width="100%" height="460" scrolling="no"></iframe>
												</div>
												<div class="map hidden" data-contentid="2">
														<iframe src="map_sendai_02.html" width="100%" height="460" scrolling="no"></iframe>
												</div>
											</div>
												<div class="street"><iframe src="
													https://www.google.com/maps/embed?pb=
													!4v1718095775854!6m8!1m7!1sCAoSLEFGMVFpcE84RGJiaHNNTENfdjBYZGN2VmJzdzlsbnpRX21feGVsZUhHX0pv!2m2!1d38.262025562302!2d140.88194149356!3f106.89559339053264!4f-3.764626275889981!5f0.7820865974627469" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
										
									</div>

								</section>

								
								<div class="jrebnr">
										<div class="logo sp"><img src="/serviceinfo/assets/img/tekute/jrepoint.gif" alt="JRE POINT"></div>
										<dl>
												<dt>｢tekute せんだい｣での<br class="sp">お買いものがJRE POINTカードで<br class="sp">もっとおトク！</dt>
												<dd>
														<div class="logo pc"><img src="/serviceinfo/assets/img/tekute/jrepoint.gif" alt="JRE POINT"></div>
														<ul class="point">
																<li class="col">100円(税抜)ごとに<br>
																		1ポイントが貯まります。</li>
																<li>1ポイント1円として<br>
																		お支払いの際に<br>
																		ご利用いただけます。</li>
																<li>ポイントは｢tekuteせんだい｣<br>
																		及びJR東日本グループの<br class="sp">
																		駅ビル等でご利用いただけます。</li>
														</ul>
														<p class="kome">※ポイント付与・利用については一部ご利用いただけない店舗もございます。</p>
														<div class="btn_detail"><a href="https://www.jrepoint.jp/" target="_blank">詳しくはこちら</a></div>
												</dd>
										</dl>
								</div>
								
						</div>
				</main>
				<aside class="tpl_btmBnr" role="complementary">
						<div class="tpl_wrap">
								<div class="tpl_btmRelated">
										<div class="tpl_linkBox">
											<ul class="tpl_linkList">
												<li><a href="https://www.jrepoint.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_01.jpg" alt="JRE POINT" height="81" width="321"></a></li>
												<li><a href="https://shopping.jreast.co.jp/shop/detail/s013?utm_source=livithp_u&utm_medium=shoptop_banner" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_02.jpg" alt="東北MONO" height="81" width="321"></a></li>
												<li><a href="https://furusato.jreast.co.jp/furusato?utm_source=livit.jregroup.ne.jp&utm_medium=referral&utm_campaign=jgrf_202307_livit_furusato" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_03.jpg" alt="JRE MALL ふるさと納税" height="81" width="321"></a></li>
												<li><a href="https://media.jreast.co.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_04.png" alt="JR東日本の鉄道おでかけメディアJRE MALL Media" height="81" width="321"></a></li>
												<li><a href="https://yorimichi-sendai.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_05.jpg" alt="ヨリ未知 SENDAI" height="81" width="321"></a></li>
												<li><a href="http://www.jreast.co.jp/suicamoney/index.html/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_06.png" alt="Suica" height="81" width="321"></a></li>
												<li><a href="https://www.jreast.co.jp/card/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_07.jpg" alt="VIEW CARD" height="81" width="321"></a></li>
												<li><a href="https://familio-folkloro.com/takahata/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_08.jpg" alt="フォルクローロ" height="81" width="321"></a></li>
												<li><a href="https://btimes.jp/?utm_source=livit&utm_medium=referral" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_09.jpg" alt="B-Times" height="81" width="321"></a></li>
												<li><a href="https://www.jreast.co.jp/card/campaign/adm/jrecard.html" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_10.jpg" alt="JRE CARD" height="81" width="321"></a></li>
											</ul>
										</div>
								</div>
						</div>
				</aside>
				
				<!--#include virtual="/serviceinfo/assets/inc/footer.html" --> 
				<!-- /.tpl_wrapper --></div>
		<!-- /.serviceIndex --> 
</div>
<!-- [start]script -->
<script src="/serviceinfo/assets/js/common/jquery.js"></script>
<script src="/serviceinfo/assets/js/common/base.js"></script>
<script src="/serviceinfo/assets/js/common/common.js"></script>
<script src="/serviceinfo/assets/js/common/matchheight.js"></script>
<script src="/serviceinfo/assets/js/common/slick.js"></script>
<script src="/serviceinfo/assets/js/tekute/script.js"></script>
<script src="/serviceinfo/assets/js/tekute/movie_sendai.js"></script>
<script src="/serviceinfo/assets/js/common/ofi.min.js"></script>
<!-- [end]script --> 
<!--#include virtual="/serviceinfo/assets/inc/body_close.html" -->
</body>
</html>
