@charset "UTF-8";
/* =========================================================
	Company / Recruit / Welfare / Culture
========================================================= */
#conts p {
	line-height: 1.9;
}

#conts .mainVisual {
	width: 932px;
	margin: 20px auto 0;
	text-align: right;
}

#conts .funWrap {
	width: 692px;
	margin: -10px auto 0;
}

#conts .funWrap .funSec {
	overflow: hidden;
	margin-top: 30px;
}

#conts .funWrap .funSec:first-child {
	margin-top: 0;
}

#conts .funWrap .funSec .textBox {
	width: 336px;
	padding-top: 30px;
}

#conts .funWrap .funSec:nth-child(odd) .textBox {
	float: left;
}

#conts .funWrap .funSec:nth-child(even) .textBox {
	float: right;
}

#conts .funWrap .funSec .textBox h2 {
	color: #66441F;
	font-size: 2.6rem;
	font-weight: bold;
}

#conts .funWrap .funSec .textBox h2 span {
	color: #E9C445;
}

#conts .funWrap .funSec .textBox p {
	margin-top: 17px;
}

#conts .funWrap .funSec:nth-child(odd) .imgBox {
	float: right;
}

#conts .funWrap .funSec:nth-child(even) .imgBox {
	float: left;
}
/*0203--*/
#conts .banners01 ul {
	-webkit-justify-content: center;
			justify-content: center;
	margin-left: -30px;
}
#conts .banners01 ul li{
	margin-left: 30px;
}
/*0512--*/

/**   20220127↓  */
/*
	#conts .bg-pettern03 > div {
		padding-right: 12vw;
		padding-left: 12vw;
	}

	#conts .bg-pettern03 ul {
		-webkit-justify-content: space-between;
				justify-content: space-between;
		-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
		margin-top: -3.6vw;
		margin-left: 0;
	}

	#conts .bg-pettern03 ul li {
		width: 47%;
		margin-top: 3.6vw;
		margin-left: 0;
		text-align: center;
	}
	*/
/*   20220127
#conts .bg-pettern03 .bnList {
	overflow: hidden;
}　　*/

/*  20220124
#conts .bg-pettern03 .bnList li {
	float :left;
	margin-left: 15px;
}
#conts .bg-pettern03 .bnList li:first-child {
	margin-left: 0px;
}*/
	/*  20220124 ここまで*/
/*20220202
#conts .bg-pettern03 .bnList li:last-child {
	float: right;
}*/

@media screen and (min-width: 768px) {
	#conts {
		margin-top: 0;
	}
}

@media screen and (max-width: 767px) {
	#conts .mainVisual {
		width: auto;
		margin: 20px 1px 0;
		text-align: center;
	}

	#conts .funWrap {
		width: 100%;
		margin: -7px 0 0;
	}

	#conts .funWrap .funSec {
		margin-top: 25px;
	}

	#conts .funWrap .funSec .textBox h2 {
		font-size: 1.7rem;
		text-align: center;
	}

	#conts .funWrap .funSec .textBox {
		float: none!important;
		width: 100%;
		padding-top: 0;
	}

	#conts .funWrap .funSec .textBox .imgBox {
		float: none;
		margin-top: 7px;
		text-align: center;
	}

	#conts .funWrap .funSec .textBox .imgBox img {
		width: 168px;
	}

	#conts .funWrap .funSec .textBox p {
		margin-top: 10px;
	}

	#conts .banners01 > div {
			padding-right: 12vw;
			padding-left: 12vw;
		}
	#conts .banners01 ul {
		-webkit-justify-content: space-between;
				justify-content: space-between;
		-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
		margin-top: -3.6vw;
		margin-left: 0;
	}

	#conts .banners01 ul li {
		width: 47%;
		margin-top: 3.6vw;
		margin-left: 0;
		text-align: center;
	}

	/*--0203   */
	/*
	#conts .banners01 > div {
		padding-right: 12vw;
		padding-left: 12vw;
	}

	#conts .banners01 ul {
		-webkit-justify-content: space-between;
				justify-content: space-between;
		-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
		margin-top: -3.6vw;
		margin-left: 0;
	}

	#conts .banners01 ul li {
		width: 47%;
		margin-top: 3.6vw;
		margin-left: 0;
		text-align: center;
	}
	*/
	/*    */

	/*  20220124
	#conts .bg-pettern03 {
		margin-top: 27px;
	}

	#conts .bg-pettern03 .bnList {
		width: 228px;
		margin: 0 auto;
	}

	#conts .bg-pettern03 .bnList li {
		margin-top: 15px;
	}

	#conts .bg-pettern03 .bnList li:first-child {
		margin-top: 0;
	}
	*/
	/*  20220124*/
	/*  20220202
	#conts .bg-pettern03 .bnList li {
		float :left;
		margin-left: 0;
	}
	#conts .bg-pettern03 .bnList li:first-child {
		margin-left: 0px;
	}
	*/
		/*  20220124 ここまで*/

		/*202204*/
		#conts .banners01 > div {
				padding-right: 12vw;
				padding-left: 12vw;
			}
		#conts .banners01 ul {
			-webkit-justify-content: space-between;
					justify-content: space-between;
			-webkit-flex-wrap: wrap;
					flex-wrap: wrap;
			margin-top: -3.6vw;
			margin-left: 0;
		}

		#conts .banners01 ul li {
			width: 47%;
			margin-top: 3.6vw;
			margin-left: 0;
			text-align: center;
		}
}

@-moz-document url-prefix() {
	#conts .funWrap .funSec {
		overflow: visible;
	}

	#conts .funWrap .funSec:after {
		content: "";
		display: block;
		clear: both;
	}
}


@media print {
	#conts {
		margin-top: 0;
	}
}
