@charset "UTF-8";
/* =========================================================
	Company / Business / Station-Business
========================================================= */
#conts p {
	line-height: 1.9;
}

#conts .headline02 {
	margin-bottom: 55px;
	font-size: 3.0rem;
}

#conts .lead {
	text-align: center;
}

#conts .lead + .imgBox {
	margin-top: 30px;
	text-align: center;
}

#conts .businessList {
	margin-top: 33px;
	overflow: hidden;
}

#conts .businessList li {
	float: left;
	margin-left: 17px;
	text-align: center;
}

#conts .businessList li:first-child {
	margin-left: 0;
}

#conts .businessList li p {
	margin-top: 15px;
	font-size: 1.8rem;
}

#conts .accessionTitle {
	font-size: 1.8rem;
	font-weight: normal;
	text-align: center;
}

#conts .accessionTable {
	width: 100%;
	margin-top: 18px;
	table-layout: fixed;
	border-collapse: collapse;
}

#conts .accessionTable th,
#conts .accessionTable td {
	padding: 8px 0;
	border: 1px solid #CCC;
	font-weight: normal;
	text-align: center;
	line-height: 2.2;
}

#conts .accessionTable th {
	background: #87CB3D;
	color: #FFF;
}

#conts .accessionTable thead th {
	background: #6DA82D;
}

#conts .accessionTable thead th:nth-child(1) {
	width: 175px;
}

#conts .accessionTable thead th:nth-child(2),
#conts .accessionTable thead th:nth-child(3),
#conts .accessionTable thead th:nth-child(4) {
	width: 188px;
}

#conts .att {
	margin-top: 27px;
	text-align: center;
}

@media screen and (max-width: 767px) {
	#conts .headline02 {
		margin-bottom: 10px;
		font-size: 2.3rem;
	}

	#conts .lead {
		text-align: left;
	}

	#conts .lead + .imgBox {
		margin-top: 15px;
	}

	#conts .businessList {
		margin-top: 15px;
		padding: 0 10px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	#conts .businessList li {
		float: none;
		width: 45%;
		margin: 0;
	}

	#conts .businessList li:nth-child(odd) {
		padding-right: 5%;
	}

	#conts .businessList li:nth-child(even) {
		padding-left: 5%;
	}

	#conts .businessList li:nth-child(n+3) {
		margin-top: 20px;
	}

	#conts .businessList li p {
		margin-top: 5px;
		font-size: 1.3rem;
	}

	#conts .accessionTitle {
		font-size: 1.3rem;
	}

	#conts .accessionTable {
		margin-top: 12px;
	}

	#conts .accessionTable th,
	#conts .accessionTable td {
		padding: 4px 0;
		line-height: 2.0;
	}

	#conts .accessionTable thead th:nth-child(1) {
		width: 40%;
	}

	#conts .accessionTable thead th:nth-child(2),
	#conts .accessionTable thead th:nth-child(3),
	#conts .accessionTable thead th:nth-child(4) {
		width: auto;
	}

	#conts .att {
		margin-top: 20px;
	}
}