@charset "UTF-8";
/* =========================================================
	Company / Sitemap
========================================================= */
#conts p {
	line-height: 1.9;
}

#conts a {
	text-decoration: none;
}

#conts a:hover {
	text-decoration: underline;
}

#conts .categorySec:last-child {
	margin-top: 80px;
}

#conts .linkBox {
	padding: 16px 0 17px;
	border-bottom: 1px solid #CCC
}

#conts .headline02 + .linkBox {
	padding-top: 0;
}

#conts .linkBox .link {
	font-size: 1.8rem;
	font-weight: bold;
}

#conts .linkBox .link a {
	display: inline-block;
	padding-right: 22px;
	background: url(../../img/company/sitemap/arrow01.png) no-repeat right 7px;
}

#conts .linkBox .cmnList01 {
	padding: 10px 0;
}

#conts .linkBox .cmnList01 li {
	display: inline-block;
	margin: 0 25px 0 0;
}

#conts .linkBox .inner {
	padding-left: 15px;
}

#conts .linkBox .inner .title {
	margin-top: 25px;
	font-weight: bold;
}

#conts .linkBox .inner .title:first-child {
	margin-top: 15px;
}

@media screen and (max-width: 767px) {
	#conts .categorySec:last-child {
		margin-top: 35px;
	}

	#conts .linkBox {
		padding: 15px 0;
	}

	#conts .linkBox .link {
		font-size: 1.5rem;
	}

	#conts .linkBox .link a {
		background: url(../../img/company/sitemap/arrow01_sp.png) no-repeat right 4px;
		-webkit-background-size: 11px 19px;
		        background-size: 11px 19px;
	}

	#conts .linkBox .cmnList01 {
		padding: 0;
	}

	#conts .linkBox .cmnList01 li {
		display: block;
		margin: 10px 0 0;
	}

	#conts .linkBox .inner {
		padding-left: 10px;
	}

	#conts .linkBox .inner .title {
		margin-top: 20px;
	}
}