@charset "UTF-8";
/* =========================================================
	Index
========================================================= */
.news_release {
	margin-top: 30px!important;
}
.news_release .headline01 {
	color: #664422;
}
.news_release .headline01 > span:before,
.news_release .headline01 > span:after {
	content: none;
}
.news_release .headline01 .eng  {
	font-size: 3rem;
}
.news_release .list {
	max-height: 164px;
}
.news_release .list ul {
	margin-right: 24px;
}
.news_release .list ul li {
	-webkit-align-items: center;
			align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #E4C9AE;
}
.news_release .list ul li:first-child {
	padding-top: 0;
	border-top: none;
}
.news_release .list ul li:last-child {
	padding-bottom: 0;
}
.news_release .list ul li .date {
	padding: 2px 7px;
	background-color: #87CB3D;
	font-weight: normal !important;
	color: #fff;
}
.news_release .list ul li .title {
	margin-left: 10px;
}
.news_release .list ul li .title a:not(:hover) {
	color: #66441F;
	text-decoration: none;
}
.news_release .more {
	margin-top: 54px;
	text-align: center;
}
.news_release .more a:not(:hover) {
	color: #66441F;
	text-decoration: none;
}
.links .list01,
.links .banners {
	-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
	margin-left: -18px;
}
.links .list01 li,
.links .banners li {
	width: 307px;
	margin-left: 18px;
}
.links .list01 {
	margin-top: -68px;
}
.links .list01 li {
	margin-top: 68px;
}
.links .list01 li a {
	display: block;
	text-decoration: none;
}
.links .list01 li.cat01 a:hover {
	color: #358FAA;
}
.links .list01 li.cat02 a:hover {
	color: #F0B500;
}
.links .list01 li.cat03 a:hover {
	color: #79BA32;
}
.links .list01 li.cat04 a:hover {
	color: #FF7979;
}
.links .list01 li.cat05 a:hover {
	color: #957DB0;
}
.links .list01 li a span {
	display: block;
}
.links .list01 li a:hover .img {
	opacity: .6;
}
.links .list01 li a .title {
	margin-top: 10px;
	text-align: center;
}
.links .list01 li a .txt {
	margin-top: 6px;
	margin-right: 42px;
	margin-left: 42px;
	font-size: 1.2rem;
	line-height: 2;
}
.links .banners {
	margin-top: 46px;
}
.links .banners li {
	margin-top: 20px;
}
@media screen and (max-width: 767px) {
	
	#contents {
		border-top: none;
	}
	.news_release .headline01 .eng  {
		font-size: 2.3rem;
	}
	.news_release .list {
		max-height: 186px;
	}
	.news_release .list ul {
		margin-right: 10px;
	}
	.news_release .list ul li {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.news_release .list ul li .date {
		display: inline-block;
		padding: 0 4px;
		line-height: 1.5;
	}
	.news_release .list ul li .title {
		margin-left: 0;
		margin-top: 6px;
		line-height: 1.4;
	}
	.links .list01,
	.links .banners {
		-webkit-justify-content: space-between;
				justify-content: space-between;
		margin-left: 0;
	}
	.links .list01 li,
	.links .banners li {
		width: 48.4%;
		margin-left: 0;
	}
	.links .list01 {
		margin-top: -28px;
	}
	.links .list01 li {
		margin-top: 28px;
	}
	.links .list01 li a .img {
		margin-right: 1.95%;
		margin-left: 1.95%;
	}
	.links .list01 li a .title {
		margin-top: 6px;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1.2;
	}
	.links .list01 li a .txt {
		margin-top: 8px;
		margin-right: 8.1%;
		margin-left: 8.1%;
	}
	.links .banners {
		margin-top: 10px;
	}
	.links .banners li {
		margin-top: 13px;
	}
}

@media print {
	.links .list01 {
		display: block;
		margin-left: 0;
	}
	.links .list01:after {
		content: "";
		display: block;
		clear: both;
	}
	.links .list01 li,
	.links .banners li {
		width: calc(33.33% - 12px);
		margin-left: 0;
	}
	.links .list01 li {
		display: inline-block;
		vertical-align: top;
	}
	.links .list01 li a .txt {
		height: 72px;
	}
	.links .list01 li:nth-child(3n+2),
	.links .list01 li:nth-child(3n) {
		margin-left: 10px;
	}
	.links .banners li:nth-child(3n+2),
	.links .banners li:nth-child(3n) {
		margin-left: 18px;
	}
}
