@charset "utf-8";
/* //////////////////////////////////////////////////////////////////////////////// */
/* min-width:769px */
/* //////////////////////////////////////////////////////////////////////////////// */
img{
-webkit-backface-visibility: hidden;
}
#loading-bg {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 100;
	overflow: hidden;
}
body{
	font-family: "Noto Sans JP", dnp-shuei-mincho-pr6n, sans-serif;
	font-feature-settings: "palt";
}

.fadein.appear {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  position: relative;
  z-index: 1;
}
.obj li{
	opacity: 0;
	transform: translate(0, 80px);
	-webkit-transform: translate(0, 80px);
	transition: all 1.5s ease-in-out;
}
.obj li:first-child{
	transition-delay:0.5s;
}
.obj li:nth-child(2){
	transition-delay:1s;
}
.obj li:nth-child(3){
	transition-delay:1.5s;
}
.appear .obj li{
	opacity: 1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
@media screen and (min-width: 769px) {
	.fadein{
		margin:0 auto;
		position: relative;
		opacity: 0;
		transform: translate(0, 50px);
		-webkit-transform: translate(0, 50px);
		transition: all 1.5s;
	}
/* header
-------------- */
.header{
	width:100%;
	height: 80px;
	background: #fff;
	position: fixed;
	transition: all 0.2s;
	z-index: 11;
}
.header.fixed{
	background: rgba(255, 255, 255, 0.9);
}
.header .inner{
	padding:0 46px;
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.header .logo{
	width:110px;
	margin-top:20px;
}
.header_menu-button {
	display: none;
}
.header .header_menu {
	font-size:0;
	display: flex;
	justify-content: space-between;
}
.header .header_menu:after{
	content:'';
	display: block;
	clear: both;
}
.header .header_nav{
	margin:28px 0 0 0;
}
.header .nav_list{
	font-size:0;
	margin-right: 60px;
}
.header .nav_list li {
	font-size: 27px;
	display: inline-block;
	font-family: adobe-garamond-pro, serif;
}
.header .nav_list li:not(:last-child){
	margin-right: 60px;
}
.header .nav_list li a {
	color:#472c7b;
	letter-spacing: 0.01em;
	display: inline-block;
	position: relative;
	transition: all 0.2s;
}
.header .nav_list li a:hover {
	opacity: 0.7;
}
.header .tpl_header{
	margin-top:16px;
}
.header .sns{
	width:113px;
	text-align: center;
	font-size:0;
	margin-top:8px;
}
.header .sns li{
	height: 19px;
	display: inline-block;
}
.header .sns li:not(:last-child){
	margin-right: 25px;
}
.header .sns li img{
	height: 19px;
}
/* section
-------------- */
.tpl_wrapper{
	position: relative;
}
section{
	margin:0 auto;
	position: relative;
}
section .heading{
	font-size:80px;
	letter-spacing: 0px;
	line-height: 1;
	color:#a99c52;
	font-family: adobe-garamond-pro, serif;
	text-align: center;
	position: relative;
}
section .heading:after{
	content:'';
	display: block;
	width:20px;
	height: 5px;
	background: #472c7b;
	left:0;
	right:0;
	margin:22px auto 28px;
}
section .heading_subtit{
	color:#a99c52;
	text-align: center;
	line-height: 1;
	font-size:15px;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.link_detail a{
	transition: all 0.2s;
}
.link_detail a:hover{
	opacity: 0.6;
}
.mainVisual{
	background: url('/assets/img/gyutan-sushistreet/bg01_pc.gif') ;
	margin-top:80px;
}
.mainVisual .inner{
	max-width:1280px;
	margin:0 auto;
	position: relative;
	padding-right:7%;
}
.mainVisual .inner.fadein{
	transition: all 1s ease-in-out;
}
.mainVisual .inner .catch{
	width:393px;
	height: 342px;
	position: absolute;
	top:283px;
	right:-43px;
	z-index: 5;
	opacity: 0;
	transform: translate(0, 20px);
	-webkit-transform: translate(0, 20px);
	transition: all 1.2s ease-in-out;
	transition-delay:1.2s;
	margin-right: 4%;
	margin-top:-4%;
	z-index: 10;
}
.mainVisual .inner.appear .catch{
	opacity: 1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}
.news{
	padding:0 20px;
}
.news-box{
	max-width:840px;
	margin:120px auto 35px;
	border:1px solid #000;
	border-radius: 20px;
	text-align: center;
	padding:60px 20px;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.news-box__title{
	font-size:22px;
	line-height: 1.4;
	margin-bottom: 35px;
}
.news-box__text{
	font-size:16px;
	letter-spacing: 0.1em;
	line-height:2;
}
.news p + p{
	margin-top:20px;
}
.news ul{
	width:675px;
	margin:0 auto 35px;
	text-align: left;
}
.news ul li{
	font-size:16px;
	letter-spacing: 0.1em;
	line-height: 2;
}
.news p.small{
	font-size:14px;
}
.news p a{
	text-decoration: underline;
}
.news p a:hover{
	text-decoration: none;
}
.news .schedule{
 font-size:16px;
 line-height: 3;
 width:325px;
 margin:10px auto;
 text-align: left;
}
.news .schedule dt{
	float: left;
	margin-right: 5px;
}
.news .schedule dt:nth-of-type(1){
	letter-spacing: 0.13em;
}
.news .schedule dd{
}

/* concept
--------------*/

.concept{
	height: 1250px;
	position: relative;
	}
.concept:before{
	content:'';
	display: block;
	background: url('/assets/img/gyutan-sushistreet/bg_concept.png') no-repeat center bottom;
	min-width:1920px;
	min-height: 800px;
	margin:0 auto;
	left:0;
	right:0;
	bottom:0;
	position: absolute;
	background-size: cover;
}

.concept .inner{
 padding:95px 0 135px;
 position: relative;
}
.concept .heading_subtit{
  margin-bottom: 57px;
}
.concept .leadTxt{
font-weight: 400;
text-align: center;
font-size:16px;
letter-spacing: 0.15em;
line-height: 3.125;
}
/* movie
------------ */
.movie .inner{
 padding:40px 0 0;
 max-width:1024px;
 margin:0 auto ;
 position: relative;
}

.movie .youtube{
	max-width:820px;
	margin:0 auto;
	position: relative;
	z-index: 1;
}

.movie .obj li{
	position: absolute;
}
.movie .obj li:first-child{
	width: 444px;
	height: 439px;
	background: url('/assets/img/gyutan-sushistreet/obj01.png') no-repeat;
	top:160px;
	right:-270px;
}
.movie .obj li:nth-child(2){
	width: 341px;
	height: 341px;
	background: url('/assets/img/gyutan-sushistreet/obj02.png') no-repeat;
	top:391px;
	left:-324px;
}
.movie .obj li:nth-child(3){
	width: 243px;
	height: 243px;
	background: url('/assets/img/gyutan-sushistreet/obj03.png') no-repeat;
	top:592px;
	left:-391px;
}
/* topics
--------------*/
.topics {
	padding:0 20px;
}
.topics .inner{
	max-width:1024px;
	padding-top:130px;
	margin:0 auto 110px;
	position: relative;
}
.topics .obj li{
	position: absolute;
}
.topics .obj li:nth-child(1){
	width: 341px;
	height: 341px;
	background: url('/assets/img/gyutan-sushistreet/obj02.png') no-repeat;
	top:430px;
	right:-509px;
}
.topics .obj li:nth-child(2){
	width: 243px;
	height: 243px;
	background: url('/assets/img/gyutan-sushistreet/obj03.png') no-repeat;
	top:320px;
	right:-524px;
}
.topics .heading_subtit{
	margin-bottom: 53px;
}
.topics .leadTxt{
	font-size:16px;
	line-height: 1;
	letter-spacing: 0.1em;
	text-align: center;
	margin-bottom: 110px;
}
.article{
	margin-bottom: 60px;
}
.article .tit{
 font-size:29px;
 line-height: 1;
 font-weight: bold;
 color:#998b3e;
 margin-bottom: 20px;
}
.article .subtit{
	font-size:22px;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin:30px 0 15px;
}
.article p.txt{
	font-size:15px;
	letter-spacing: 0.1em;
	line-height: 2.4;
	margin-bottom: 25px;
}
.article p.txt .small{
	font-size:13px;
}

.article_inline{
	display: flex;
	justify-content: space-between;
	margin-top:27px;
}
.article_half{
	width:478px;
}
/* streetmap
--------------*/
.streetmap{
		background: url('/assets/img/gyutan-sushistreet/bg02_pc.gif') 0 0;
		z-index: 1;
}
.streetmap .inner{
	padding:105px 20px 130px;
	margin-top:-1px;
	margin-bottom:-1px;
}
.streetmap .heading{
  color:#fff;
}
.streetmap .heading_subtit{
	color:#fff;
	margin-bottom: 60px;
}
.streetmap .box{
	max-width:1024px;
	margin:0 auto;
	background:#fff;
	border-radius:20px;
	overflow: hidden;
}
.streetmap .map{
	padding:0;
	margin:50px 60px 30px;
}
.streetmap iframe{
	border:none;
	outline:none;
}
.street_shoplist .ttl img{
	width:100%;
}
.street_shoplist .link_detail {
	font-size:17px;
	letter-spacing: 0.15em;
	font-weight: bold;
	margin-bottom: 30px;
	position: relative;
}
.street_shoplist .link_detail a{
	display: inline-block;
}
.street_shoplist .link_detail a:after{
display: inline-block;
content: "";
width: 6px;
height: 6px;
border-top: solid 1px #000;
border-right: solid 1px #000;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
margin:0 0 2px 15px;
}
.street_shoplist .shoplist{
	display: flex;
	width:100%;
	justify-content: space-between;
	flex-wrap:wrap;
	margin:0 auto;
}
.street_shoplist .shoplist li{
 font-size:17px;
 font-weight: 500;
 letter-spacing: 0.1em;
 margin-bottom: 30px;
 position: relative;
}
.street_shoplist .shoplist li a{
	display: block;
	width:100%;
	transition: all 0.2s;
}
.street_shoplist .shoplist li a:hover{
	opacity: 0.7;
}
.street_shoplist .shoplist li a:after{
display: block;
content: "";
width: 5px;
height: 5px;
border-top: solid 1px #000;
border-right: solid 1px #000;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
position: absolute;
right: 0;
top: 7px;
transition: all 0.2s;
}
.ie11Mode .street_shoplist .shoplist li a:after{
	top:4px;
}
.shop-bnr{
  margin:78px 0 0;
}
.shop-bnr_title{
	width:518px;
	height: 21px;
	font-size:0;
	background: url('/assets/img/gyutan-sushistreet/tryone_ttl_pc.png') no-repeat;
	margin:0 auto 26px;
}
.shop-bnr_item{
	width:1024px;
	height: 111px;
	margin:0 auto;
}
.shop-bnr_item a{
	display: block;
	width:100%;
	height: 100%;
	transition: all 0.2s;
}
.shop-bnr_item a:hover{
	opacity: 0.8;
}
/* gyutan */
#gyutan{
	max-width:582px;
	width:57.2%;
	float: left;
}
#gyutan .ttl{
	width:343px;
	margin:6px auto 28px;
}
#gyutan .link_detail{
	text-align: center;
	padding-right: 10px;
}
#gyutan .link_detail a{
	color:#aa0a1a;
}
#gyutan .shoplist{
	width:480px;
	padding-left:45px;
	margin-bottom: 20px;
}
#gyutan .shoplist li:nth-child(odd){
	width:170px;
}
#gyutan .shoplist li:nth-child(even){
	width:205px;
}
#gyutan .link_detail a:after{
	border-color:#aa0a1a;
}
/* sushi */
#sushi{
	max-width:442px;
	width:42.8%;
	float: left;
}
#sushi .ttl{
  width:234px;
	margin:0 0 20px 30px;
}
#sushi .link_detail a{
  color:#131679;
}
#sushi .shoplist{
	width:320px;
	margin:0 0 0 20px;
}
#sushi .shoplist li:nth-child(odd){
	width:144px;
}
#sushi .shoplist li:nth-child(even){
	width:132px;
}
#sushi .link_detail{
	margin:0 0 30px 44px;
}
#sushi .link_detail a:after{
	border-color:#131679;
}
/* zunda */
#zunda{
	padding: 40px 0;
	background: #f4f0d9 url('/assets/img/gyutan-sushistreet/zunda_head_pc.gif') no-repeat;
	position: relative;
	clear: both;
}
#zunda:after{
	content:'';
	display: block;
	background: url('/assets/img/gyutan-sushistreet/zunda.png') no-repeat;
	background-size: contain;
	width:483px;
	height: 261px;
	position: absolute;
	right:-71px;
	bottom:-44px;
}
#zunda .subtit{
	font-size:16px;
	letter-spacing: 0.15em;
  color:#818909;
	margin:0 0 13px 167px;
}
#zunda .ttl{
width:261px;
margin:0 0 30px 160px;
}
#zunda .link_detail a{
 color:#818909;
}
#zunda .link_detail{
	font-weight: 500;
	margin:0 0 25px 173px;
}
#zunda .link_detail a:after{
	border-color:#818909;
}
#zunda .txt{
	margin-left:98px;
	font-size:14px;
	letter-spacing: 0.1em;
	line-height: 1.85;
}
/* information
--------------*/
.information .inner{
	max-width:1064px;
	margin:0 auto;
 padding:105px 20px 130px;
 position: relative;
}
.information .heading_subtit{
  margin-bottom: 55px;
}
.information .leadTxt{
	font-size:16px;
	line-height:1;
	letter-spacing: 0.1em;
	text-align: center;
	margin-bottom: 75px;
}
.information .service{
	margin-bottom: 50px;
}
.information .service .colgroup{
  width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.information .colgroup .col{
	margin-bottom: 55px;
}
.information .colgroup .col .tit{
	font-size:18px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:3px 0 6px;
	color:#fff;
	border-radius: 2px;
	text-align: center;
	background: #bdb16c;
	margin-bottom: 26px;
}
.ie11Mode .information .colgroup .col .tit{
	padding:6px 0 3px;
}
.information .card{
	text-align: center;
}
.information .card .txt{
	text-align: center;
	letter-spacing: 0;
	font-size:14px;
	line-height: 1.78;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.information .card .txt a {
	text-decoration: underline;
}
.information .card .txt .small{
	font-size:13px;
	line-height: 1.53;
}
.information .card .link{
	font-size:16px;
	letter-spacing: 0.1em;
	display: inline-block;
	margin:15px 0 0;
	transition: all 0.2s;
}
.information .card .red {
	color: red;
}
.information .card .link:hover{
	opacity: 0.6;
}
.information .card .link:after {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
		margin:0 0 2px 10px;
}
.information .size_ss{
  width:214px;
}
.information .size_sm{
  width:282px;
}
.information .size_lg{
	width:666px;
}
.information .size_mm{
  width:299px;
}
.information .card_order figure img{
  height:119px;
	margin:0 0 27px 25px;
}
.information .card_service figure img{
 height:109px;
 margin:12px 0 25px;
}
.information .card_wifi figure img{
	height: 110px;
	margin: 7px 0 30px;
}
.information .card_smoke figure img{
  height:101px;
	margin:15px 0 31px;
}
.information .card_jre .card{
	float: left;
}
.information .colgroup .card_jre .tit{
	background: #409761;
}
.information .card_jre .card01{
	width:386px;
}
.information .card_jre .card01 figure img{
	height:97px;
	margin:6px 0 28px;
}
.information .card_jre .card01 .txt,
.information .card_jre .card01 .link{
	padding-right: 20px;
}
.information .card_jre .card02{
	width:280px;
}
.information .card_jre .card02 figure img{
	height:90px;
	margin:15px 101px 28px 35px;
}
.information .card_jre .card02 .txt{
	margin: 0 60px 0 5px;
}
.information .colgroup .card_credit .tit{
	background: #a88cc1;
}

.information .card_credit figure img{
 margin-top:15px;
}
.information .colgroup03 .txt{
	font-size:16px;
	line-height: 1.875;
}
.information .colgroup .card_emoney .tit{
  background:#a88cc1;
}
.information .card_emoney figure img{
  /* height:59px; */
	/* margin:5px auto 10px; */
}
.information .colgroup .card_qr .tit{
  background:#a88cc1;
}
.information .card_qr figure img{
  /* height:41px; */
  width: 280px;
	margin:0 auto;
}
.information .qrcode {
	width: 280px;
	margin: 0 auto;
}
.information .card_qr p.small {
	font-size: 11.5px;
    margin-bottom: 10px;
}
.information .colgroup .card_gift .tit{
  background:#a88cc1;
}
.information .card_gift .txt{
	margin-top:10px;
}
.information .obj li{
	position: absolute;
}
.information .obj li:first-child{
	width:444px;
	height: 439px;
	background: url(/assets/img/gyutan-sushistreet/obj01.png) no-repeat;
	top:110px;
	left:-414px;
}
.information .obj li:nth-child(2){
	width:444px;
	height: 439px;
	background: url(/assets/img/gyutan-sushistreet/obj01.png) no-repeat;
	top:865px;
	right:-529px;
	transition-delay: 2s;
}

/* community
--------------- */
.community{
	max-width:1024px;
	margin:0 auto;
  background: #faf7e4;
	border-radius: 20px;
	box-sizing: border-box;
	padding:60px 50px 68px;
	position: relative;
}
.community .subtit{
	font-size:20px;
	letter-spacing: 0.15em;
	font-weight: bold;
	color:#a99c52;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'Noto Sans JP';
	font-family: 'Noto Sans JP';
	text-align: center;
	margin-bottom: 36px;
}
.community .tit{
  width:206px;
	margin:0 auto 65px;
}
.community .article{
	overflow: hidden;
}
.community .article .photo{
	max-width:452px;
	width:51.2%;
	float: right;
	margin-left:20px;
	margin-bottom: 74px;
}
.community .article .ttl{
 font-size:30px;
 letter-spacing: 0.05em;
 margin-bottom: 30px;
}
.community .article .ttl .small{
	font-size:20px;
	margin-left:7px;
}
.community .article .ttl .subTtl{
	font-size:17px;
	line-height: 1;
	display: block;
	margin-bottom: 20px;
}
.community .article .txt{
  font-size:15px;
	line-height: 2;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.community .article .txt span{
	display: block;
	margin-bottom: 10px;
}
.community .article .link{
	font-size:16px;
	letter-spacing: 0.15em;
	font-weight: 500;
	margin:15px 0 0;
	display: block;
	transition: all 0.2s;
}
.community .article .link:hover{
	opacity: 0.7;
}
.community .article .link:after {
    display: inline-block;
    content: "";
		width: 6px;
    height: 6px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
		margin:0 0 2px 10px;
}
.community .access {
	overflow: hidden;
}
.community .access .photo{
  width:443px;
	float: left;
	margin-right: 26px;
}
.community .access .address{
	line-height: 2;
	font-size:15px;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.community .access .address .small{
	font-size:13px;
}
.community .obj li{
	position: absolute;
	opacity: 0;
	transform: translate(0, 80px);
	-webkit-transform: translate(0, 80px);
}
.community .obj li:first-child {
    width: 341px;
    height: 341px;
    background: url(/assets/img/gyutan-sushistreet/obj02.png) no-repeat;
		top:299px;
		left:-460px;
		transition-delay: 1s;
}
.community .obj li:nth-child(2){
   width: 239px;
    height: 239px;
    background: url(/assets/img/gyutan-sushistreet/obj03.png) no-repeat;
		background-size: contain;
		top:192px;
		left:-343px;
		transition-delay: 1.5s;
	}
	.community.appear .obj li{
		opacity: 1;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
	}
/* footer
--------------*/
.footer{
	background: #601a85;
	height: 100px;
}
.footer .inner{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.footer .copyright{
	color:#fff;
	font-size:13px;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.1em;
}

#pagetop{
font-size:15px;
letter-spacing: 0.07em;
font-weight: bold;
color:#601a85;
font-family: adobe-garamond-pro, serif;
position: fixed;
right:46px;
bottom:50px;
cursor: pointer;
position: relative;
z-index: 13;
trnasition:all 0.2s;
}
#pagetop:hover{
	opacity: 0.7;
}
#pagetop:before{
	content:'';
	display: block;
	width:21px;
	height: 11px;
	background: url('/assets/img/gyutan-sushistreet/arrow.png') no-repeat;
	margin:0 auto 15px;
	transition: all 0.3s linear;
    -webkit-animation: scrollarrow 4s ease 0s infinite;
    animation: scrollarrow 4s ease 0s infinite;
}

}
@media (min-width: 2200px) {
	.concept{
		height: 1400px;
	}
}

@media (min-width: 1920px) {
	/* .concept:before{
		height: 100%;
	} */
}

@media (min-width: 1360px) {
	.mainVisual .inner{
		padding-right: 0;
	}
	.mainVisual .inner .catch{
		margin-top:0;
		margin-right: 0;
	}
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* max-width:768px */
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
	.htmlFixed {
	  position: fixed !important;
	  -ms-touch-action: none;
	  touch-action: none;
	}
	.fadein{
		margin:0 auto;
		position: relative;
		opacity: 0;
		transform: translate(0, 30px);
		-webkit-transform: translate(0, 30px);
		transition: all 1.2s;
	}
	body {
		font-family: "Noto Sans JP", dnp-shuei-mincho-pr6n, sans-serif;
	}
	/* header
	-------------- */
	.header {
	  margin: 0 auto;
	  position: relative;
	}
	.header .inner{
		background: #fff;
		position: fixed;
		width:100%;
		z-index: 11;
	}
	.header.fixed .inner{
		background: rgba(255, 255, 255, 0.9);
	}
	.header .logo{
		width:22.9vw;
		margin:3.07vw 0 4vw 5.6vw;
	}
	.header .logo img{
    width:22.9vw;
	}
	.header .header_menu {
	  z-index: 4;
	  width: 100%;
		height: calc(100vh - 14.85vw);
		top:14.85vw;
		position: absolute;
		display: none;
		background: #fff;
	}
	.header_menu-button {
	  display: block;
	  width: 7.47vw;
	  height: 6vw;
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  position: absolute;
	  top:4.2vw;
	  right: 5.34vw;
	  z-index: 4;
	}
	.header_menu-button-bar {
	  width: 7.34vw;
	  height: 2px;
	  display: block;
	  background: #472c7b;
	  margin: 0 auto 2.27vw;
	  transition: width 400ms, transform 400ms 400ms;
	  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	  transform-style: preserve-3d;
	  -webkit-backface-visibility: hidden;
	  -webkit-transform: translateZ(0) scale(1, 1);
	}
	.header .active .header_menu-button-bar {
	  width: 3px;
	}

	.header .active .header_menu-button-bar-1 {
	  transform: translateX(0px) translateY(2.5vw) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
	}

	.header .active .header_menu-button-bar-1.expand {
	  width: 7.34vw;
	  transition: transform 400ms 0;
	}

	.header .active .header_menu-button-bar-2 {
	  width: 0;
	}

	.header .active .header_menu-button-bar-3 {
	  transform: translateX(0px) translateY(-3vw) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
	}

	.header .active .header_menu-button-bar-3.expand {
	  width: 7.34vw;
	  transition: transform 400ms 0;
	}

	.header .header_nav {
	  width: 100%;
	}
	.header .nav_list {
	  z-index: 3;
		width:100%;
		padding-top:14vw;
	}

	.header .nav_list li {
	  font-size: 9.07vw;
		font-family: adobe-garamond-pro, serif;
		text-align: center;
	  line-height: 1;
	  letter-spacing: 0.01em;
	  font-weight: 400;
	}
	.header .nav_list li:not(:last-child){
	  margin-bottom: 16vw;
	}
	.header .nav_list a{
	  color: #472c7b;
	}
.header .tpl_header{
  text-align: center;
	margin:18vw 0 0;
}
.header .sns{
	font-size:0;
	margin:9.34vw 0 0;
}
.header .sns li{
	height: 5.74vw;
	margin:0 4vw;
	display: inline-block;
}
.header .sns li img{
	height:5.74vw;
}

/* section
--------------*/
.tpl_wrapper{
	position: relative;
}
.tpl_contents{
	letter-spacing: 0.1em;
}
section {
	padding-top:14.85%;
	margin-top:-14.85%;
}
.mainVisual{
	margin-top:0;
	background: url('/assets/img/gyutan-sushistreet/bg01_sp.gif') ;
	background-size: 100% auto;
}
section .heading{
	font-size:12.8vw;
	color:#a99c52;
	line-height: 1;
	font-family: adobe-garamond-pro, serif;
	text-align: center;
	position: relative;
}
section .heading:after{
	content:'';
	display: block;
	width:4.27vw;
	height: 1.3vw;
	background: #472c7b;
	left:0;
	right:0;
	margin:3.87vw auto 5.2vw;
}
section .heading_subtit{
	color:#a99c52;
	text-align: center;
	line-height: 1;
	letter-spacing: 0.1em;
	font-size:3.34vw;
	font-weight: bold;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Noto Sans JP';
	font-family: 'Noto Sans JP';
}

.news-box{
	width:89.3vw;
	margin:10.67vw auto 6vw;
	border:1px solid #000;
	border-radius: 2.67vw;
	text-align: center;
	padding:10.67vw 5.34vw 12vw;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Noto Sans JP';
	font-family: 'Noto Sans JP';
}

.news-box__title{
	font-size:4.8vw;
	line-height: 1.3;
	margin-bottom: 7.6vw;
}
.news-box__text{
	font-size:3.74vw;
	letter-spacing: 0.05em;
	line-height: 1.6;
	text-align: left;
}
.news p + p{
	margin-top:3vw;
}
.news ul{
	margin-bottom: 6vw;
}
.news ul li{
	font-size:3.74vw;
	letter-spacing: 0.05em;
	line-height: 1.4;
	text-align: left;
	margin-bottom: 3vw;
}
.news .schedule{
font-size:3.74vw;
 line-height: 2;
 margin:6vw auto;
 text-align: left;
}
.news .schedule dt{
	float: left;
	margin-right: 2vw;
}
.news .schedule dt:nth-of-type(1){
	letter-spacing: 0.16em;
}
.news p.small{
	font-size:3vw;
	line-height: 1.6;
	text-align: left;
}
.news p a{
	text-decoration: underline;
}

/* concept
--------------*/

.concept .inner:after{
	content:'';
	display: block;
	background: url('/assets/img/gyutan-sushistreet/bg_concept.png') no-repeat left bottom;
	width:100%;
	height: 100vw;
	left:0;
	bottom:0;
	position: absolute;
	background-size: cover;
	z-index: -1;
}
.concept .inner{
	padding:10vw 0 71vw;
	position: relative;
	z-index: 1;
}
.concept .heading_subtit{
  margin-bottom: 7vw;
}
.concept .leadTxt{
	font-family: "Noto Sans JP",dnp-shuei-mincho-pr6n, sans-serif;
font-weight: 400;
letter-spacing: 0.15em;
text-align: center;
font-size:3.74vw;
line-height: 2.375;
padding:0 6vw;
}
/* movie
------------ */
.movie .inner{
 padding:14vw 0 16.6vw;
 /* padding:14vw 0 24.6vw; */
 position: relative;
}
.movie.appear{
	padding-top:0;
}
.movie .youtube{
	width:90vw;
	margin:0 auto;
	position: relative;
	z-index: 1;
}
.movie .youtube{
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 51%;
  margin: 0 auto;
}
.movie .youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.movie .obj li{
	position: absolute;
}
.movie .obj li:first-child{
	width: 59.2vw;
	height: 58.53vw;
	background: url('/assets/img/gyutan-sushistreet/obj01.png') no-repeat;
	background-size: contain;
	top:-2.14vw;
	right:-19.6vw;
}
.movie .obj li:nth-child(2){
	width: 45.46vw;
	height:  45.46vw;
	background: url('/assets/img/gyutan-sushistreet/obj02.png') no-repeat;
	background-size: contain;
	top:32.26vw;
	left:-20.2vw;
}
/* topics
--------------*/
.topics .heading_subtit{
	margin-bottom: 9vw;
}
.topics .leadTxt{
	font-size:3.74vw;
	line-height: 2.1;
	text-align: center;
	margin-bottom: 13vw;
}
.topics .article{
	padding:0 5.6vw;
	margin-bottom: 16.6vw;
}
.article .tit{
 font-size:5.8vw;
 letter-spacing: 0.03em;
 line-height: 1;
 font-weight: bold;
 color:#998b3e;
 margin-bottom: 4.5vw;
 border-left:1.2vw solid;
 padding-left:1vw;
 padding-bottom: 1vw;
}
.article .subtit{
	font-size:5.34vw;
	font-weight: 500;
	line-height: 1;
	margin:5.34vw 0 2.67vw;
}
.article p.txt{
	font-size:3.6vw;
	letter-spacing: 0.15em;
	line-height: 2.1;
	margin-bottom: 5vw;
}
.article p.txt .small{
	font-size:3vw;
}
/* streetmap
--------------*/
.streetmap .heading{
	color:#fff;
}
.streetmap .heading_subtit{
	color:#fff;
	margin-bottom: 9.74vw;
}
.streetmap .inner{
	background: url('/assets/img/gyutan-sushistreet/bg02_sp.gif') 0 0;
	background-size: 100% 70vw;
	padding:15vw 0 21vw;
}
.streetmap .box{
	background:#fff;
	padding:4vw 0 0;
	margin:0 5.6vw;
	border-radius:2.4vw;
	overflow: hidden;
}
.streetmap .map{
  margin:0 3vw 8vw;
}
.streetmap iframe{
	border:none;
	outline:none;
}
.street_shoplist .ttl img{
	width:100%;
}
.street_shoplist .link_detail {
	font-size:3.6vw;
	font-weight: bold;
	text-align: center;
	margin-bottom: 8.3vw;
	position: relative;
}
.street_shoplist .link_detail a{
	display: inline-block;
}
.street_shoplist .link_detail a:after{
display: inline-block;
content: "";
width: 1.3vw;
height: 1.3vw;
border-top: solid 1px #000;
border-right: solid 1px #000;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
margin-left:4vw;
margin-bottom: 0.6vw;
}
.street_shoplist .shoplist{
	display: flex;
	width:100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap:wrap;
	margin:0 auto;
}
.street_shoplist .shoplist li{
 font-size:3.47vw;
 letter-spacing: 0px;
 margin-bottom: 8vw;
 position: relative;
}
.street_shoplist .shoplist li a{
	display: block;
	width:100%;
	position: relative;
}
.street_shoplist .shoplist li a:after{
display: block;
content: "";
width: 1.3vw;
height: 1.3vw;
border-top: solid 1px #000;
border-right: solid 1px #000;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
position: absolute;
right: 0;
top: 0.6vw;
bottom: 0;
margin: auto;
}
.shop-bnr{
  margin:10vw 0 0;
}
.shop-bnr_title{
	width:69.8vw;
	height: 9.5vw;
	font-size:0;
	background: url('/assets/img/gyutan-sushistreet/tryone_ttl_sp.png') no-repeat;
	background-size: contain;
	margin:0 auto 4.54vw;
}
.shop-bnr_item{
	width:88.9vw;
	margin:0 auto;
}
.shop-bnr_item a{
	display: block;
	width:100%;
	height: 100%;
}

/* gyutan */
#gyutan .ttl{
	width:68.6vw;
	margin:0 auto 7.6vw;
}
#gyutan .link_detail a{
	color:#aa0a1a;
}
#gyutan .shoplist{
	width:77.3vw;
	margin-bottom: 2.67vw;
}
#gyutan .shoplist li:nth-child(odd){
	width:32vw;
}
#gyutan .shoplist li:nth-child(even){
	width:38.6vw;
}
#gyutan .link_detail a:after{
	border-color:#aa0a1a;
}
/* sushi */
#sushi .ttl{
  width:49.73vw;
	margin:0 auto 6.67vw;
}
#sushi .link_detail a{
  color:#131679;
}
#sushi .shoplist{
	width:61.3vw;
}
#sushi .shoplist li:nth-child(odd){
	width:26vw;
}
#sushi .shoplist li:nth-child(even){
	width:25.3vw;
}
#sushi .link_detail a:after{
	border-color:#131679;
}
/* zunda */
#zunda{
	padding-bottom: 32vw;
	background: #f4f0d9;
	position: relative;
}
#zunda:before{
	content:'';
	display: block;
	width:100%;
	height:15vw;
	background: url('/assets/img/gyutan-sushistreet/zunda_head_sp.gif') no-repeat;
	background-size: cover;
}
#zunda:after{
	content:'';
	width:72.26vw;
	height: 39vw;
	background: url('/assets/img/gyutan-sushistreet/zunda.png') no-repeat;
	background-size: cover;
	position: absolute;
	bottom:-9.74vw;
	right:-7.74vw;
}
#zunda .subtit{
	font-size:3.47vw;
	letter-spacing: 0.15em;
  color:#818909;
  text-align: center;
	margin:-3.07vw 0 2.67vw;
	padding-right: 6vw;
}
#zunda .ttl{
width:52.26vw;
margin:0 0 4.8vw 13vw;
}
#zunda .link_detail a{
 color:#818909;
}
#zunda .link_detail a:after{
	border-color:#818909;
}
#zunda .txt{
	font-size:3.47vw;
	letter-spacing: 0.12em;
	line-height: 2;
	padding:0 5.34vw;
}
#zunda .link_detail{
	margin-bottom: 6.8vw;
	padding-right: 8.8vw;
}
/* information
--------------*/
.information .inner{
 padding:16vw 0 17.6vw;
}
.information.appear{
	padding-top:0;
}
.information .heading_subtit{
  margin-bottom: 9vw;
}
.information .leadTxt{
	font-size:3.74vw;
	line-height:2;
	letter-spacing: 0.15em;
	text-align: center;
	margin-bottom: 12vw;
}
.information .service{
	padding:0 5.6vw;
}
.information .colgroup .col{
	margin-bottom: 10.2vw;
}
.information .colgroup .col .tit{
	font-size:4.27vw;
	letter-spacing: 0;
	height: 7.2vw;
	line-height: 7.2vw;
	color:#fff;
	border-radius: 0.67vw;
	text-align: center;
	background: #bdb16c;
}
.information .colgroup .card_jre .tit{
	background: #409761;
}
.information .colgroup .card_credit .tit{
	background: #a88cc1;
}
.information .colgroup .card_emoney .tit{
  background:#a88cc1;
}

.information .colgroup .card_qr .tit{
  background:#a88cc1;
}

.information .colgroup .card_gift .tit{
  background:#a88cc1;
}
.information .card{
	text-align: center;
}
.information .card .txt{
	text-align: center;
	font-size:3.47vw;
	letter-spacing: 0;
	line-height: 2;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.information .card .txt a {
	text-decoration: underline;
}
.information .colgroup03 .txt{
	font-size:3.8vw;
}
.information .card .txt .small{
	font-size:3.07vw;
	line-height: 1.53;
}
.information .card .red {
	color: red;
	letter-spacing: 0.01em;
}
.information .card .link{
	font-size:3.74vw;
	letter-spacing: 0.1em;
	display: inline-block;
	margin:3.5vw 0 0;
}
.information .card .link:after {
    display: inline-block;
    content: "";
		width: 1.3vw;
    height: 1.3vw;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
		margin:0 0 2px 2.5vw;
}
.information .card_order figure{
	padding-left:5vw;
}
.information .card_order figure img{
  width:19.46vw;
	margin:5.74vw auto 6vw;
}
.information .card_service figure img{
 width:25.46vw;
 margin:6.27vw auto 5.34vw;
}
.information .card_wifi figure img{
  width:26vw;
	margin:6.94vw auto 5.74vw;
}
.information .card_smoke figure img{
  width:24.9vw;
	margin:6.67vw auto 4.8vw;
}
.information .card_jre .card01 figure img{
	width:28.5vw;
	margin:6vw 0 5.34vw;
}
.information .card_jre .card02 figure img{
	width:29.6vw;
	margin:0 auto 4vw;
}
.information .card .qrcode,
.information .card_credit figure img{
	margin:6.4vw 0 0;
}
.information .card_emoney figure img{
	margin:6.4vw 0 0;
}
.information .card_qr figure img{
	width: 95%;
	margin: 0 auto;
}
.information .qrcode {
	width: 95%;
	margin: 6.4vw auto 0;
}
.information .card_qr p.small {
	font-size: 3vw;
    margin-bottom: 3vw;
}
.information .card_jre .card01{
  margin-bottom:8vw;
}
.information .card_gift .txt{
	margin:6.67vw 0 14.6vw;
}
/* community
--------------- */
.community{
  background: #faf7e4;
	margin:0 5.6vw;
	border-radius: 2.4vw;
	padding:9.34vw 5.6vw 10.67vw;
}
.community .subtit{
	font-size:4.27vw;
	letter-spacing: 0.1em;
	font-weight: bold;
	color:#a99c52;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'Noto Sans JP';
	font-family: 'Noto Sans JP';
	text-align: center;
	margin-bottom: 4.67vw;
}
.community .tit{
  width:40vw;
	margin:0 auto 7.07vw;
}
.community .article .photo{
	margin-bottom: 6vw;
}
.community .article .ttl{
 font-size:6.95vw;
 letter-spacing: 0.05em;
 margin-bottom: 6.67vw;
}
.community .article .ttl .small{
	font-size:4vw;
}
.community .article .ttl .subTtl{
	font-size:3.74vw;
	line-height: 1;
	display: block;
	margin-bottom: 3.34vw;
}
.community .article .txt{
  font-size:3.6vw;
	line-height: 2;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.community .article .txt span{
	display: block;
	margin-bottom: 2vw;
}
.community .article .link{
	font-size:3.74vw;
	font-weight: 500;
	margin:4.6vw 0 11.34vw;
	display: block;
}
.community .article .link:after {
    display: inline-block;
    content: "";
		width: 1.3vw;
    height: 1.3vw;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
		margin:0 0 2px 2.5vw;
}
.community .access .address{
  margin:5.34vw 0 0;
	line-height: 2;
	font-size:3.6vw;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'Noto Sans JP';
	font-family: 'Noto Sans JP';
}
.community .access .address .small{
	font-size:3.07vw;
}
/* footer
--------------*/
.footer{
	background: #601a85;
	height: 17.3vw;
}
.footer .inner{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.footer .copyright{
	color:#fff;
	font-size:2.54vw;
	letter-spacing: 0.05em;
	font-family: 'Josefin Sans', sans-serif;
}
#pagetop{
font-size:3.47vw;
letter-spacing: 0.05em;
font-weight: bold;
color:#601a85;
font-family: adobe-garamond-pro, serif;
position: fixed;
right:2.8vw;
bottom:7.34vw;
cursor: pointer;
position: relative;
z-index: 10;
}
#pagetop:before{
	content:'';
	display: block;
	width:2.8vw;
	height: 1.47vw;
	background: url('/assets/img/gyutan-sushistreet/arrow.png') no-repeat;
	background-size: contain;
	margin:0 auto 2.4vw;
	transition: all 0.3s linear;
    -webkit-animation: scrollarrow 4s ease 0s infinite;
    animation: scrollarrow 4s ease 0s infinite;
}

}
@keyframes scrollarrow {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes scrollarrow {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* print */
/* //////////////////////////////////////////////////////////////////////////////// */
@media print {


}
