@charset "UTF-8";
/* =========================================================
	Company / Recruit / Works / Index
========================================================= */
/* Common
----------------------------------------------------------*/
.headline02 span {
	background-color: #FEF9DC;
}
.list01 {
	-webkit-justify-content: space-between;
			justify-content: space-between;
	-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
	margin-top: -45px;
	margin-right: 20px;
	margin-left: 20px;
}
.list01 li {
	margin-top: 45px;
	width: 267px;
}
.list01 li a {
	display: block;
	text-decoration: none;
}
.list01 li a span {
	display: block;
	text-align: center;
}
.list01 li a .img {
	-webkit-transform: scale(1);
			transform: scale(1);
	-webkit-transition: transform .4s;
			transition: transform .4s;
}
.list01 li a:hover .img {
	-webkit-transform: scale(1.1);
			transform: scale(1.1);
}
.list01 li a .division {
	margin-top: 10px;
	font-size: 1.55rem;
	color: #333;
	line-height: 1.4;
}
.list01 li a .post {
	margin-top: 10px;
	margin-right: 28px;
	margin-left: 28px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 1px solid #F89D52;
	border-radius: 18px;
	color: #F89D52;
}
.list01 li a:hover .post {
	background-color: #F89D52;
	color: #FFF;
}
@media screen and (max-width: 767px) {
	.list01 {
		margin-top: -22.5px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.list01 li {
		margin-top: 22.5px;
		width: 43.77%;
	}
	.list01 li a {
		display: block;
		margin-right: auto;
		margin-left: auto;
		max-width: 267px;
		text-decoration: none;
	}
	.list01 li a span {
		display: block;
		text-align: center;
	}
	.list01 li a .img {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-transition: transform .4s;
				transition: transform .4s;
	}
	.list01 li a:hover .img {
		-webkit-transform: scale(1.1);
				transform: scale(1.1);
	}
	.list01 li a .division {
		margin-top: 5px;
		font-size: 1.1rem;
	}
	.list01 li a .post {
		margin-top: 5px;
		margin-right: 5px;
		margin-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		border-radius: 11px;
		line-height: 1.2;
	}
	.list01 li a:hover .post {
		background-color: #F89D52;
		color: #FFF;
	}
}

/* Characteristic
----------------------------------------------------------*/
.lead .box01 {
	-webkit-justify-content: center;
			justify-content: center;
	-webkit-align-items: center;
			align-items: center;
}
.lead .box01 .txt_box {
	width: 522px;
}
.lead .box01 .txt_box h1 span {
	display: block;
	font-weight: normal;
	line-height: 1.26;
}
.lead .box01 .txt_box h1 span:first-child {
	font-size: 1.8rem;
}
.lead .box01 .txt_box h1 span:last-child {
	margin-top: 4px;
	margin-left: -.6em;
	font-size: 3.4rem;
}
.lead .box01 .txt_box .txt01,
.lead .box01 .txt_box .txt02 {
	line-height: 1.98;
	margin-left: 1em;
}
.lead .box01 .txt_box .txt01 {
	margin-top: 18px;
}
.lead .box01 .txt_box .txt02 a:not(:hover) {
	color: #000;
	text-decoration: none;
}
.lead .box01 .img {
	margin-left: 14px;
	width: 279px;
}
.members {
	padding-top: 45px;
	padding-bottom: 45px;
}
.members .page_nav ul li {
	width: 50%;/* 33.33%;  */
}
.members .page_nav ul li:not(:first-child) {
	border-left: 1px solid #333;
}
.members .page_nav ul li a {
	display: block;
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
}
.members .page_nav ul li a:after {
	content: "";
	display: block;
	margin-top: 11px;
	margin-right: auto;
	margin-left: auto;
	width: 32px;
	height: 18px;
	background-image: url(../../../../img/company/recruit/works/index/icon_arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: .5s ease-out;
			transition: .5s ease-out;
}
.members .page_nav ul li a:hover:after {
	-webkit-transform: translateY(9px);
			transform: translateY(9px);
}
.members .operation {
	margin-top: 45px;
}
.members .station,
.members .assets {
	margin-top: 60px;
}
@media screen and (min-width: 768px) {
	#conts {
		margin-top: 0;
	}
}
@media screen and (max-width: 767px) {
	.lead .box01 .txt_box {
		width: auto;
	}
	.lead .box01 .txt_box h1 {
		text-align: center;
	}
	.lead .box01 .txt_box h1 span:first-child {
		font-size: 1.3rem;
	}
	.lead .box01 .txt_box h1 span:last-child {
		margin-top: 2px;
		margin-left: 0;
		font-size: 2.3rem;
	}
	.lead .box01 .img {
		margin-top: 19px;
		margin-left: 0;
		padding: 0 30px;
		width: auto;
		text-align: center;
	}
	.lead .box01 .img img {
		width: 100%;
	}
	.members {
		padding-top: 22.5px;
		padding-bottom: 22.5px;
	}
	.members .page_nav ul li:not(:first-child) {
		border-left-color: #BBB;
	}
	.members .page_nav ul li a {
		font-size: 1.3rem;
		line-height: 1.2;
	}
	.members .page_nav ul li a:after {
		margin-top: 7px;
		width: 16px;
		height: 9px;
	}
	.members .operation {
		margin-top: 22.5px;
	}
	.members .operation .list01 li:nth-child(5) .post {
		padding-top: .9em;
		padding-bottom: .8em;
	}
	.members .station,
	.members .assets {
		margin-top: 30px;
	}
}

@media print {
	#conts {
		margin-top: 0;
	}
}
