<!DOCTYPE html>
<!--#include virtual="/serviceinfo/assets/inc/meta_head.html" -->
<title>JR東日本交通広告｜JR東日本東北総合サービス株式会社【LiViT】</title>
<meta name="description" content="JR東日本のグループ力を活かし、仙台駅エキナカを中心としたJR主要駅の交通広告掲出を、お客様のご計画・ご要望に沿って幅広く展開。制作から施工まで一貫したサービスも行い、交通広告だけでなく、デザイン制作や様々なサインの製作、イベントの造作・設営、パンフレットやチラシを始め各種印刷物、ラッピング等も対応可能です。">
<meta name="keywords" content="JR,ジェイアール,東北,宮城,仙台,岩手,青森,秋田,山形,福島,駅,エキナカ,構内,交通広告,広告,メディア,デジタルサイネージ,車両メディア,駅メディア,媒体,媒体制作,媒体企画,申し込み,掲載,掲出,制作,作成,問合せ,申し込み">
<meta property="og:title" content="JR東日本交通広告｜JR東日本東北総合サービス株式会社【LiViT】">
<meta property="og:description" content="JR東日本のグループ力を活かし、仙台駅エキナカを中心としたJR主要駅の交通広告掲出を、お客様のご計画・ご要望に沿って幅広く展開。制作から施工まで一貫したサービスも行い、交通広告だけでなく、デザイン制作や様々なサインの製作、イベントの造作・設営、パンフレットやチラシを始め各種印刷物、ラッピング等も対応可能です。">
<meta property="og:url" content="http://www.livit.jregroup.ne.jp/transit-advertising/index.html">
<!--#include virtual="/serviceinfo/assets/inc/meta_bottom.html" -->
<!-- [start]css -->
<link rel="stylesheet" href="/serviceinfo/assets/css/common/reset.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/base.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/common/common.css">
<link rel="stylesheet" href="/serviceinfo/assets/css/transit-advertising/transit.css">
<!-- [end]css -->
<!--#include virtual="/serviceinfo/assets/inc/head_close.html" -->
</head>
<body class="tekute">
<div class="serviceIndex">
		<div class="tpl_wrapper"> 
				<!--#include virtual="/serviceinfo/assets/inc/header.html" -->
				<main role="main" class="main">
						<div class="breadcrumbs">
								<div class="wrap">
										<ul class="breadcrumbsList">
												<li><a href="/"><img src="/serviceinfo/assets/img/common/ico_breadcrumbs_home.png" alt="home" height="10" width="12"></a></li>
												<li>JR東日本交通広告</li>
										</ul>
								</div>
						</div>
						<div class="tpl_contents">
								<div class="mainVisual">
										<!--<h2 class="heading">広告メディア</h2>-->
										<div class="main"><img src="/serviceinfo/assets/img/transit-advertising/main_pc.jpg" alt="広告メディア" usemap="#Map" class="pc"> <map name="Map">
												<area shape="rect" coords="759,503,1174,539" href="mailto:koukokug@livit.jregroup.ne.jp">
										</map><img src="/serviceinfo/assets/img/transit-advertising/main_sp.jpg" class="sp" alt="広告メディア"></div>
										<dl class="info">
												<dt><img src="/serviceinfo/assets/img/transit-advertising/head_contact.gif" alt="お問合せ"></dt>
												<dd>
														<h3>メディアサービスセンター</h3>
														<p class="tel">TEL.<span class="telLink">022-292-1801</span></p>
														<p class="mail"><a href="mailto:koukokug@livit.jregroup.ne.jp">koukokug@livit.jregroup.ne.jp</a></p>
												</dd>
										</dl>
										<p class="lead">JR東日本のグループ力を活かし、仙台駅エキナカを中心としたJR主要駅の交通広告掲出を、<br class="pc">
												お客様のご計画・ご要望に沿って幅広く展開しております。<br>
												制作から施工まで一貫したサービスも行っており、<br class="pc">
												交通広告だけでなく、デザイン制作や様々なサインの製作、イベントの造作・設営、<br class="pc">パンフレットやチラシを始め各種印刷物、ラッピング等も対応可能です。 </p>
								</div>
								<section class="contents">
										<ul class="advert">
												<li>
														<div class="photo"><a href="/serviceinfo/assets/pdf/transit-advertising/digital.pdf" target="_blank"><img src="/serviceinfo/assets/img/transit-advertising/img01.jpg" alt=""></a></div>
														<h3>デジタルサイネージ</h3>
														<p>多くの人が行き交う駅構内に適しており、<br class="pc">注目度がとても高い動画・静止画によるデジタル広告媒体です。</p>
												</li>
												
												<li>
														<div class="photo"><a href="/serviceinfo/assets/pdf/transit-advertising/station.pdf" target="_blank"><img src="/serviceinfo/assets/img/transit-advertising/img02.jpg" alt=""></a></div>
														<h3>駅メディア</h3>
														<p>駅を利用する人々へ幅広く情報を提供。視覚的にインパクトのある<br class="pc">訴求やタイムリーな情報の訴求に適しています。</p>
												</li>
												<li>
														<div class="photo"><a href="/serviceinfo/assets/pdf/transit-advertising/vehicle.pdf" target="_blank"><img src="/serviceinfo/assets/img/transit-advertising/img03.jpg" alt=""></a></div>
														<h3>車両メディア</h3>
														<p>ＪＲ車両ならではの広告媒体が多数存在し、<br class="pc">企業や商品のニーズに合った媒体を選択できます。</p>
												</li>
												<li>
														<div class="photo"><a href="/serviceinfo/assets/pdf/transit-advertising/advert.pdf" target="_blank"><img src="/serviceinfo/assets/img/transit-advertising/img04.jpg" alt=""></a></div>
														<h3>広告媒体企画・制作</h3>
														<p>広告デザインや各種サイン、横断幕・懸垂幕、ラッピング、印刷物など<br class="pc">様々な広告媒体の企画・制作をご提案いたします。</p>
												</li>
										</ul>
										<p class="small">資料提供：(株)ジェイアール東日本企画仙台支社</p>
								</section>
								<section class="contact">
										<div class="inner">
												<h2 class="tit">お問合せ</h2>
												<p class="lead">広告や制作のお見積りや、媒体の空き状況の確認など、お気軽にご相談ください。</p>
												<div class="box">
														<h3 class="tit">メディアサービスセンター</h3>
														<dl class="accept">
																<dt>[受付時間] 平日10時～17時</dt>
																<dd class="tel">TEL.<span class="telLink">022-292-1801</span></dd>
																<dd class="mail"><a href="mailto:koukokug@livit.jregroup.ne.jp">koukokug@livit.jregroup.ne.jp</a></dd>
														</dl>
												</div>
										</div>
								</section>
						</div>
				</main>
				<aside class="tpl_btmBnr" role="complementary">
						<div class="tpl_wrap">
								<div class="tpl_btmRelated">
										<div class="tpl_linkBox">
											<ul class="tpl_linkList">
												<li><a href="https://www.jrepoint.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_01.jpg" alt="JRE POINT" height="81" width="321"></a></li>
												<li><a href="https://shopping.jreast.co.jp/shop/detail/s013?utm_source=livithp_u&utm_medium=shoptop_banner" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_02.jpg" alt="東北MONO" height="81" width="321"></a></li>
												<li><a href="https://furusato.jreast.co.jp/furusato?utm_source=livit.jregroup.ne.jp&utm_medium=referral&utm_campaign=jgrf_202307_livit_furusato" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_03.jpg" alt="JRE MALL ふるさと納税" height="81" width="321"></a></li>
												<li><a href="https://media.jreast.co.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_04.png" alt="JR東日本の鉄道おでかけメディアJRE MALL Media" height="81" width="321"></a></li>
												<li><a href="https://yorimichi-sendai.jp/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_05.jpg" alt="ヨリ未知 SENDAI" height="81" width="321"></a></li>
												<li><a href="http://www.jreast.co.jp/suicamoney/index.html/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_06.png" alt="Suica" height="81" width="321"></a></li>
												<li><a href="https://www.jreast.co.jp/card/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_07.jpg" alt="VIEW CARD" height="81" width="321"></a></li>
												<li><a href="https://familio-folkloro.com/takahata/" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_08.jpg" alt="フォルクローロ" height="81" width="321"></a></li>
												<!--<li><a href="https://www.jreast.co.jp/card/campaign/adm/jrecard.html" target="_blank" class="tpl_btn"><img src="/serviceinfo/assets/img/common/bnr_foot_related_10.jpg" alt="JRE CARD" height="81" width="321"></a></li>-->
											</ul>
										</div>
								</div>
						</div>
				</aside>
				
				<!--#include virtual="/serviceinfo/assets/inc/footer.html" --> 
				<!-- /.tpl_wrapper --></div>
		<!-- /.serviceIndex -->
</div>
<!-- [start]script -->
<script src="/serviceinfo/assets/js/common/jquery.js"></script>
<script src="/serviceinfo/assets/js/common/base.js"></script>
<script src="/serviceinfo/assets/js/common/common.js"></script>
<script src="/serviceinfo/assets/js/common/jquery.rwdImageMaps.min.js"></script>
<script>
$(function(){
 $('img[usemap]').rwdImageMaps();
});
</script>
<!-- [end]script --> 
<!--#include virtual="/serviceinfo/assets/inc/body_close.html" -->
</body>
</html>
