@charset "utf-8";
*{margin:0;padding:0;font-style:normal;box-sizing:border-box;}
html{overflow-y:scroll;}
body{-webkit-text-size-adjust:100%;word-wrap:break-word;overflow-wrap:break-word;}
ol,ul{list-style:none;}
li{list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
caption,th{text-align:left;}
a,a:focus,a:link,a:visited,a:active{text-decoration:none;outline:none;}
img{border:none;}
img,table,input,select,textarea,video,iframe,canvas{vertical-align:top;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}
article,aside,footer,header,nav,section{width:100%;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-size:100%;font-weight:normal;}
iframe,form,input,textarea{max-width:100%;}
input,textarea,button{font-family:inherit;border:none;}
textarea{resize:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
input[type="text"],input[type="password"],input[type="button"],input[type="submit"],textarea{
border-radius:0;-webkit-appearance:none;appearance:none;}
input[type="checkbox"],input[type="radio"],input[type="button"],input[type="submit"],label{cursor:pointer;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
input:-ms-input-placeholder{color:#000;font-weight:normal;}
input:-moz-placeholder{color:#000;font-weight:normal;}
input::-moz-placeholder{color:#000;font-weight:normal;}
input::-webkit-input-placeholder{color:#000;font-weight:normal;}
input:placeholder-shown{color:#000;font-weight:normal;}
input[type="checkbox"]:focus{outline:none;}
input[type="radio"],input[type="checkbox"]{margin-right:10px;}
input[type="radio"]{margin-top:-1px;}
label,input{line-height:1;vertical-align:middle;}
input,textarea{color:#000;font-weight:normal;}
