@charset "utf-8";
/* //////////////////////////////////////////////////////////////////////////////// */
/* min-width:769px */
/* //////////////////////////////////////////////////////////////////////////////// */
img{
-webkit-backface-visibility: hidden;
}

.serviceIndex{
	overflow: hidden;
}
@media screen and (min-width: 769px) {
	
	/*-------------------
	 
		 pc
			
	-------------------*/
	
section{
	min-width:1024px;
	margin:0 auto;
	position: relative;
}
section h2{
	text-align:center;
}
section h2.tit{
 text-indent: 100%;
 white-space: nowrap;
 overflow: hidden;
}
.headingTtl{
	min-width:1024px;
	margin:0 auto;
	background:#f3f3f5;
	text-align:center;
	padding:12px 0 26px;
	position: relative;
}
.headingTtl .logo{
	width: 18.6%;
 margin:0 auto;
}
.headingTtl .sns{
	height:35px;
	right:24.45%;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
	overflow: hidden;
}
.headingTtl .sns li{
	width: 35px;
	height:35px;
	float: left;
	margin-right:20px;
}
.headingTtl .sns li a{
	transition:all 0.2s;
}
.headingTtl .sns li a:hover{
	opacity:0.8;
}
.headingTtl .sns li:last-child{
	margin-right:0;
}
.main{
 background:url(../../img/tekute-nagamachi/bg12_pc.gif) no-repeat center bottom;
	padding-bottom:213px;
}
.tpl_btmBnr{
	margin-top:78px;
}
/* mainVisual
--------------*/
.mainVisual .message{
	position: relative;
	height:604px;
}
.mainVisual .message:before{
	content:'';
	display:block;
 background:url(../../img/tekute-nagamachi/bg01_pc.png) no-repeat;
	background-size:contain;
	width: 28.8%;
	padding-top:24.2%;
	position: absolute;
	top:-22%;
	right:0;
}
.mainVisual .message:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg02_pc.png) no-repeat;
	background-size:contain;
	width: 38.35%;
	padding-top:13%;
	position: absolute;
	bottom:14%;
	left:0;
}
.mainVisual .message .inner{
	width:647px;
	position:absolute;
	top:100px;
	left:0;
	right:0;
	margin:0 auto;
	overflow: hidden;
	z-index:10;
}
.mainVisual .message .inner h2{
	width: 219px;
	height:411px;
	font-size:0;
	background:url(../../img/tekute-nagamachi/message_pc.png) no-repeat;
	float: right;
}
.mainVisual .message .inner p.txt{
	font-size:0;
	float: left;
	background:url(../../img/tekute-nagamachi/txt_pc.png) no-repeat;
	width: 319px;
	height:309px;
}


/* search
--------------*/
.search{
	background:url(../../img/tekute-nagamachi/bg03_pc.png) no-repeat center top;
	background-size:contain;
	width:100%;
	padding-top:9%;
}
.search:after{
	content:'';
	display:inline-block;
	background:url(../../img/tekute-nagamachi/bg04_pc.png) no-repeat center top;
	background-size:contain;
	width:100%;
	padding-bottom:1.3%;
}
.search .searchArea{
	min-width:1024px;
	margin:0 auto;
	background:#b6d56a;
	padding:0 0 80px;
	padding:73px 0 80px;
	position: relative;
	margin-top:-1px;
	margin-bottom:-1px;
}

.search .acdn{
	width:1024px;
	margin:0 auto;
	position: relative;
}
.search .ttl{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_what_pc.png) no-repeat;
	width: 526px;
	height:83px;
	position: absolute;
	left:0;
	right:0;
	top:-113px;
	margin:0 auto 30px;
	cursor:pointer;
}
.search .bar >dt{
	width:42px;
	position: absolute;
	top:-88px;
	left:166px;
	cursor:pointer;
}
.search .bar >dt .ico {
	border-radius: 50%;
	background: #fff;
	width: 42px;
	height: 42px;
	position: relative;
	display: inline-block;
	transition: all 0.4s;
}
.search .bar .ico span {
	display: inline-block;
	position: absolute;
	left: 0%;
	right: 0%;
	margin: auto;
	width: 24px;
	height: 4px;
	background: #b6d56a;
	transition: all 0.4s;
  }
.search .bar .ico span:nth-of-type(1) {
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
  }
.search .bar .ico span:nth-of-type(2) {
	top: 0;
	bottom: 0;
		opacity: 0;
  }
		.search .bar .ico span:nth-of-type(2) {
	opacity: 1;
  }
.search .bar.acdnOn .ico span:nth-of-type(1) {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
.search .bar.acdnOn .ico span:nth-of-type(2) {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  }
.search .searchBoxFrom{
	background:#fff;
	width: 940px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
}
.search .searchBoxFrom dl{
	width: 100%;
	table-layout:fixed;
}
.search .searchBoxFrom dl.keyword{
	border-top:1px solid #4c5f76;
	border-bottom:1px solid #4c5f76;
}
.search .searchBoxFrom dl dt{
	width: 90px;
	font-size:15px;
	font-weight:500;
	color:#958e7c;
	display:table-cell;
	vertical-align:top;
}
.search .searchBoxFrom dl.row dt{
	padding:35px 0 0;
}
.search .searchBoxFrom dl.keyword dt{
	vertical-align:middle;
	padding:0;
}
.search .searchBoxFrom dl dd{
	font-size:14px;
	width: 750px;
	display:table-cell;
}
.searchBoxFrom .keyBox{
	padding:0;
}
.search .searchBoxFrom dl dd input[type="text"]{
	width: 700px;
	background:#ecf2f9;
	padding:14px 17px;
	margin:30px 0;
}
.search .searchBoxFrom dl dd input::-webkit-input-placeholder {
	color:#4c5f76;
}
.search .searchBoxFrom ul{
	overflow: hidden;
}
.search .searchBoxFrom input[type="checkbox"]{
	display:none;
}
.search .searchBoxFrom dl.row ul{
	margin-bottom:15px;
}
.search .searchBoxFrom dl ul li{
 width:175px;
	float: left;
	font-weight:500;
	text-align:center;
	font-size:15px;
	letter-spacing:1.5px;
	margin-right:16.6px;
	margin-bottom:15px;
}
.search .searchBoxFrom dl ul li:nth-child(4n){
 margin-right:0;
}
.search .searchBoxFrom dl ul li label{
	color:#4c5f76;
	display:block;
	padding:10px 0;
	transition:all 0.2s;
	border:1px solid #4c5f76;
	border-radius:35px;
}
.search .searchBoxFrom dl ul li label:hover,
.search .searchBoxFrom input:checked +label{
	color:#fff;
	background:#4c5f76;
	border-radius:35px;
}
.search .searchBoxFrom .btnList {
	text-align:center;
	font-size:0;
}
.search .searchBoxFrom .btnList li{
	width: 230px;
	font-size:17px;
	letter-spacing:1.5px;
	display:inline-block;
	margin:30px 25px 0;
	text-align:center;
}
.search .searchBoxFrom .btnList li .btn{
	padding:14px 10px 14px 0;
	display:block;
	color:#fff;
	transition:all 0.2s;
	border-radius:23px;
	position: relative;
}
.search .searchBoxFrom .btnList li .btn:after{
	content: "";
	position: absolute;
	top: 1px;
	bottom: 0;
	right: 15px;
	margin: auto;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  }
.search .searchBoxFrom .btnList li #js_allclear .btn{
	background:#6c839f;
}
.search .searchBoxFrom .btnList li button{
	font-size:17px;
	letter-spacing:1.5px;
	width:inherit;
	background:none;
}
.search .searchBoxFrom .btnList li .smt .btn{
	background:#4c5f76;
}
.search .searchBoxFrom .btnList li .btn:hover{
	opacity:0.8;
}

/* news
--------------*/
.news {
	height:790px;
}
.news .inner{
	width: 1044px;
	margin:0 auto;
	position: relative;
}
.news h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_news.png) no-repeat;
	background-size:contain;
	width:224px;
	margin:90px auto 60px;
	height:80px;
}
.news .inner:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg05.png) no-repeat;
	background-size:contain;
	position: absolute;
	width: 379px;
	height:423px;
	top:-90px;
	left:-277px;
	z-index:-1;
}
.news .inner:after{
	content:'';
 display:block;
	background:url(../../img/tekute-nagamachi/bg06.png) no-repeat;
	background-size:contain;
	width: 305px;
	height:311px;
	position: absolute;
	bottom:-30px;
	right:-267px;
	z-index:-1;
}
/* slider
--------------*/
.slider{
 margin:0 auto;
	overflow: hidden;
}
.slider li.slick-slide{
	width: 326px;
	display:inline-block;
	font-size:0;
	margin:0 11px 70px;
}
.slider li .LBoxTagList li{
	font-size:14px;
	margin:0 10px 15px 0;
	display:inline-block;
	padding:3px 10px 5px;
	text-align:center;
	color:#fff;
	background:#4c5f76;
}
.slider li .day{
	font-size:15px;
	margin-bottom:10px;
}
.slider li a:hover img,
.slider li a:hover dl,
.slider li a:hover p,
.slider li a:hover ul{
	opacity:0.8;
}
.slider li dl{
	font-size:15px;
}
.slider li dt{
 font-weight:bold;
	line-height:1.2;
	margin-bottom:8px;
}
.slider li dd{
	overflow:hidden;
	height:88px;
	line-height:1.5;
}
.news .slider dd{
	height:88px;
	overflow:hidden;
}
.reading .slider dd .ellipsis,
.news .slider dd .ellipsis{
   overflow: hidden;
   display: -webkit-box;
   display: box;
   display:-moz-box;
   -webkit-box-orient: vertical;
			-moz-box-orient: vertical;
   box-orient: vertical;
   -webkit-line-clamp: 4 !important;
			-moz-line-clamp: 4 !important;
   line-clamp: 4 !important;
}
.btn_more{
	width: 82px;
	margin:20px auto 0;
}
.btn_more:hover{
	opacity:0.8;
}

/* event
--------------*/
.event{
	text-align:center;
	position: relative;
}
.event:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg07_pc.gif) no-repeat center bottom;
	background-size:contain;
	width: 100%;
	padding-top:1.5%;
}
.event:after{
	content:'';
 display:block;
	background:url(../../img/tekute-nagamachi/bg08_pc.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-bottom:9.4%;
	margin-top:-3.5%;
}
.event .inner{
	background:#ecc4b2;
	padding:80px 0 0;
	margin-top:-1px;
	margin-bottom:-1px;
}
.event h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_event.png) no-repeat;
	background-size:contain;
	width:297px;
	height:90px;
	margin:0 auto 50px;
}
.event .calender iframe{
	border:none !important;
}
/* reading
--------------*/
.reading{
	padding:100px 0 35px;
}
.reading .inner{
	width: 1044px;
	margin:0 auto;
	position: relative;
}
.reading .inner:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg09.png) no-repeat;
	background-size:contain;
	width: 494px;
	height:476px;
	position: absolute;
	top:-60px;
	left:-287px;
	z-index:-1;
}
.reading h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_reading.png) no-repeat;
	background-size:contain;
	width:308px;
	margin:0 auto 50px;
	height:96px;
}
.reading .lead{
	font-size:0;
	background:url(../../img/tekute-nagamachi/read_txt.png) no-repeat;
	width: 744px;
	height:16px;
	margin:0 auto 40px;
}

/* floormap
--------------*/
.floormap .inner{
	background:#c1db80;
	padding:75px 20px 85px;
	margin-top:-1px;
	margin-bottom:-1px;
}
.floormap .map{
	max-width:1024px;
	margin:0 auto;
	background:#fff;
	padding:40px 24px;
	border-radius:20px;
}
.floormap iframe{
	border:none;
	outline:none;
}
.floormap h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_floormap.png) no-repeat;
	background-size:contain;
	width:212px;
	margin:0 auto 50px;
	height:77px;
}
.floormap:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg10_pc.gif) no-repeat center bottom;
	background-size:contain;
	width: 100%;
	padding-top:4.3%
}
.floormap:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg11_pc.gif) no-repeat bottom;
	background-size:contain;
	width: 100%;
	padding-bottom:1.4%
}

/* storeinfo
--------------*/
.storeinfo{
	max-width: 1150px;
	margin:0 auto;
	padding:95px 0 0;
}
.storeinfo .inner{
	background:url(../../img/tekute-nagamachi/bg_body_pc.gif) repeat-y;
	background-size:contain;
	padding-top:43px;
	margin-top:-1px;
	margin-bottom:-1px;
}
.storeinfo:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg_head_pc.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-top:3.56%;
}
.storeinfo:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg_btm_pc.gif) no-repeat bottom;
	background-size:contain;
	width: 100%;
	height:488px;
	margin-top:-488px;
}
.storeinfo h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_storeinfo.png) no-repeat;
	background-size:contain;
	width:371px;
	margin:0 auto 50px;
	height:89px;
}
.storeinfo .storedata{
	padding:0 62px;
	overflow: hidden;
	margin-bottom:20px;
	position: relative;
}
.storeinfo .storedata .name{
	max-width: 1024px;
	margin:0 auto 40px;
	font-size:22px;
	letter-spacing:2px;
	font-weight:bold;
	text-align:center;
	padding:20px 0;
	border:1px solid #000;
	position: relative;
}
.storeinfo .storedata .name:before,
.storeinfo .storedata .name:after{
	content:'';
	display:block;
	width: 15px;
	height:15px;
	position: absolute;
	bottom:-10px;
	background:#f7f2bc;
}
.storeinfo .storedata .name:before{
	left:0;
}
.storeinfo .storedata .name:after{
	right:0;
}
.storeinfo .storedata .photo{
	width: 230px;
	height:230px;
	float: left;
	background:#ccc;
}
.storeinfo .storedata .photo img{
	width: 230px;
	height:230px;
 object-fit: cover; 
}
.storeinfo .storedata table{
	width:73.2%;
	max-width: 750px;
	table-layout:fixed;
	float: right;
	letter-spacing:1.5px;
}
.storeinfo table tr{
	border-bottom:3px solid #fff;
}
.storeinfo table tr:last-child{
	border-bottom:none;
}
.storeinfo .storedata table th{
	font-size:19px;
	font-weight:bold;
	width: 200px;
}
.storeinfo .storedata table .time th,
.storeinfo .storedata table .time td{
	padding-top:0;
}
.storeinfo .storedata table th,
.storeinfo .storedata table td{
	vertical-align:top;
	line-height:1.6;
	padding:11px 0;
}
.storeinfo .storedata table td{
	font-size:18px;
}
.storeinfo .storebox{
	margin:0 30px;
	overflow: hidden;
	padding:0 0 6.8%;
}
.storeinfo .storebox .box{
	width: 44.1%;
	max-width: 480px;
	margin:0 2.94%;
	float: left;
	border:1px solid #000;
	margin-top:24px;
}
.storeinfo .storebox .box .tit{
	font-size:22px;
	line-height:1.4;
	font-weight:bold;
	text-align:center;
}
.storeinfo .storebox .box dl{
	width: 400px;
	margin:0 auto;
}
.storeinfo .storebox .box dl dt{
	font-size:16px;
	letter-spacing:2px;
	text-align:center;
	font-weight:bold;
	border-radius:14.5px;
	background:#fff;
	color:#000;
	padding:6px 0 7px;
	margin-bottom:10px;
}
.storeinfo .storebox .box dl dd{
	font-size:16px;
	letter-spacing:2px;
	line-height:1.6;
	padding:0 20px;
	margin-bottom:20px;
}
.storeinfo .storebox .box .money{
	display:table;
	padding:0 20px 0 32px;
	table-layout:fixed;
}
.storeinfo .storebox .box .suica{
	width: 73px;
	padding-right:13px;
	display:table-cell;
	vertical-align:middle;
}
.storeinfo .storebox .box .credit{
	width: 320px;
 margin:0 auto;
}
.storeinfo .storebox #box01 .tit{
	padding:25px 0 20px;
	position: relative;
}
.storeinfo .storebox #box01 .tit:before{
	content:'';
	display:block;
	background:#f7f2bc url(../../img/tekute-nagamachi/ico_card.png) no-repeat center;
	width: 130px;
	height:38px;
	background-size:contain;
	padding:0 10px;
	margin:0 0 15px 28px;
	position: absolute;
	top:-24px;
}
.storeinfo .storebox #box02{
	position: relative;
}
.storeinfo .storebox #box02 .tit:before{
	content:'';
	display:block;
	background:#f7f2bc url(../../img/tekute-nagamachi/ico_facility.png) no-repeat center;
	width: 96px;
	height:52px;
	background-size:contain;
	position: absolute;
	padding:0 13px;
	top:-24px;
	left:32px;
}
.storeinfo .storebox #box02 .tit{
	padding:44px 0 15px;
	line-height:1;
}
.storeinfo .storebox .box table{
	width: 420px;
	margin:0 auto;
}
.storeinfo .storebox .box table th,
.storeinfo .storebox .box table td{
	padding:22px 0;
}
.storeinfo .storebox .box table th{
	width: 160px;
	font-size:16px;
	line-height:1.4;
	font-weight:bold;
	padding:15px 10px;
	box-sizing:border-box;
}
.storeinfo .storebox .box table td{
	font-size:16px;
	letter-spacing:0px;
	line-height:1.4;
	width: 260px;
}

.storeinfo table td .btn_map{
	font-size:15px;
	background:#949494;
	color:#fff;
	display:inline-block;
	border-radius:11px;
	margin-left:5px;
}
.storeinfo table td .btn_map a{
	color:#fff;
	display:block;
	padding:1px 13px;
}
.storeinfo table td .btn_map a:hover{
	background:#a9a9a9;
		border-radius:11px;
	text-decoration:none;
}
/* jrebnr
--------------*/
.jrebnr{
	width: 1024px;
	margin:110px auto 186px;
	border:4px solid #018647;
	padding:40px 55px 35px;
	box-sizing:border-box;
}
.jrebnr dt{
	font-size:24px;
	letter-spacing:2.5px;
	font-weight:bold;
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:3px solid #018647;
}
.jrebnr .logo{
	width: 164px;
	float: left;
	margin:0 0 0 8px;
}
.jrebnr .point{
	width: 710px;
	float: right;
}
.jrebnr .point li.col{
	padding:24.5px 0;
}
.jrebnr .point li{
	font-size:16px;
	letter-spacing:0px;
	text-align:center;
	font-weight:500;
	line-height:1.6;
	width: 212px;
	float: left;
	padding:12px 0;
	margin:0 20px 0 0;
	background:#e0e6ea;
	border-radius:15px;
}
.jrebnr .point li:last-child{
	width: 246px;
	padding:12px 13px;
	margin-right:0;
}
.jrebnr .kome{
	width: 710px;
	float: right;
	margin:15px 0 25px;
}
.jrebnr .btn_detail{
	font-size:16px;
	font-weight:500;
	letter-spacing:1px;
	width: 182px;
	margin:0 auto;
	clear:both;
}
.jrebnr .btn_detail a{
	display:block;
	color:#fff;
	text-align:center;
	background:#01874c;
	padding:15px 0;
	border-radius:24.5px;
	transition:all 0.2s;
}
.jrebnr .btn_detail a:hover{
	background:#349f70;
}
/* park
--------------*/
.park{
	width: 1024px;
	margin:0 auto;
	padding:80px 30px 50px 40px;
	border:1px solid #000;
	position: relative;
}
.park h2.tit{
	font-size:0;
 background:url(../../img/tekute-nagamachi/ttl_park_pc.gif) no-repeat;
	width: 587px;
	height:100px;
	position: absolute;
	left:0;
	right:0;
	top:-74px;
	margin:0 auto;
	z-index:100;
}
.park ul{
	overflow: hidden;
}
.park ul li{
	float: left;
}
.park ul li:first-child{
	margin-right:62px;
}

}
@media screen and (min-width:769px) and ( max-width:1024px) {
	/* slider
--------------*/
.slider{
	width:1024px;
}
.slider li:first-child{
	margin-left:0;
}

}
/* //////////////////////////////////////////////////////////////////////////////// */
/* max-width:768px */
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
		/*-------------------
	 
		 sp
			
	-------------------*/
	.headingTtl{
	background:#f3f3f5;
	text-align:center;
	padding:1.3% 0 3.7%;
	position: relative;
}
.headingTtl .logo{
	width: 57.8%;
	margin-left:29.3%;
}
.headingTtl .sns{
	height:25px;
	position: absolute;
	overflow: hidden;
	top:0;
	bottom:0;
 left:7.6%;
	margin:auto;
}
.headingTtl .sns li{
	width: 25px;
	margin-right:10px;
	float: left;
}
.main{
	background:url(../../img/tekute-nagamachi/bg12_sp.gif) no-repeat center bottom;
	background-size:contain;
	padding-bottom:29%;
}
.tpl_btmBnr{
	margin-top:16%;
}
.mainVisual .message{
	position: relative;
}
.mainVisual .message .inner{
	position: relative;
	padding:10% 0 4%;
}
.mainVisual .message .inner h2{
	width: 56%;
	padding-top:61.5%;
	margin:0 auto;
	font-size:0;
	background:url(../../img/tekute-nagamachi/message_sp.png) no-repeat;
	background-size:contain;
}
.mainVisual .message .txt{
	font-size:0;
	width: 65.3%;
	padding-top:76.2%;
	background:url(../../img/tekute-nagamachi/txt_sp.gif) no-repeat;
	background-size:contain;
	margin:11% auto 0;
	/*transform: translate(-50%, -50%);*/
}
.mainVisual .message .txt span{
 display: block;
 vertical-align: middle;
 white-space: nowrap;
 letter-spacing: 2px;
 line-height: 2.2;
}
.mainVisual .message:before{
	content:'';
	display:block;
 background:url(../../img/tekute-nagamachi/bg01_sp.png) no-repeat;
	background-size:contain;
	width: 32.8%;
	padding-top:57.6%;
	position: absolute;
	top:-14%;
	right:0;
}
.mainVisual .message:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg02_sp.png) no-repeat;
	background-size:contain;
	width: 52%;
	padding-top:34.5%;
	position: absolute;
	top:28%;
	left:0;
	z-index:-1;
}
/* search
--------------*/
.search{
	background:url(../../img/tekute-nagamachi/bg03_sp.png) no-repeat center top;
	background-size:contain;
	width:100%;
	padding-top:9.7%;
	position: relative;
}
.search:after{
	content:'';
	display:inline-block;
	background:url(../../img/tekute-nagamachi/bg04_sp.png) no-repeat center top;
	background-size:contain;
	width:100%;
	padding-bottom:4%;
}
.search .searchArea{
	background:#b6d56a;
	padding:6.6% 0 14%;
}
.search .searchArea .acdnPanel{
	padding-top: 8%;
}
.search .acdn{
	padding:0;
}
.search .ttl{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_what_sp.png) no-repeat bottom;
	background-size:contain;
	width: 90%;
	padding:29.5% 0 0;
	margin:0 auto;
}
.search .bar >dt{
	position: absolute;
	top:38vw;
	left:7%;
}
.search .bar .ico {
	border-radius: 50%;
	background: #fff;
	width: 1.658rem;
	height: 1.658rem;
	position: relative;
	display: inline-block;
	transition: all 0.4s;
  }
.search .bar .ico span {
	display: inline-block;
	position: absolute;
	left: 0%;
	right: 0%;
	margin: auto;
	width: 0.995rem;
	height: 0.199rem;
	background: #b6d56a;
	border-radius: 4px;
	transition: all 0.4s;
  }
.search .bar .ico span:nth-of-type(1) {
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
  }
.search .bar .ico span:nth-of-type(2) {
	top: 0;
	bottom: 0;
	opacity: 0;
  }
.search .bar.acdnOn .ico span:nth-of-type(1) {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
.search .bar.acdnOn .ico span:nth-of-type(2) {
	opacity:1;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  }
.search .searchBoxFrom{
	background:#fff;
	padding:7% 5% 8%;
	margin:0 4.8%;
	border-radius:10px;
}
.search .searchBoxFrom dl dt{
	font-size:0.95rem;
	font-weight:500;
	color:#958e7c;
	margin-bottom:3%;
}

.search .searchBoxFrom dl ul{
	overflow: hidden;
	margin-bottom:3%;
}
.search .searchBoxFrom dl ul li{
	font-size:0.9rem;
	letter-spacing:0px;
	text-align:center;
 width:48%;
	margin-bottom:3%;
	float: left;
}
.search .searchBoxFrom dl ul li:nth-child(odd){
	margin-right:4%;
}
.search .searchBoxFrom input[type="checkbox"]{
	display:none;
}
.search .searchBoxFrom dl ul li label{
	color:#4c5f76;
	display:block;
	padding:5% 0 6%;
	border:1px solid #4c5f76;
	border-radius:20px;
}
.search .searchBoxFrom input:checked +label{
	color:#fff;
	background:#4c5f76;
	border-radius:20px;
}
.search .searchBoxFrom dl.keyword{
	border-top:1px solid #4c5f76;
	border-bottom:1px solid #4c5f76;
	padding:5% 0 6%;
}
.searchBoxFrom .keyBox{
	padding:0;
}
.search .searchBoxFrom dl dd input[type="text"]{
	font-size:0.9rem;
	width: 100%;
	background:#ecf2f9;
	padding:4% 3%;
}
.search .searchBoxFrom dl dd input::-webkit-input-placeholder {
	color:#4c5f76;
	line-height:1.4;
}
.search .searchBoxFrom .btnList li .btn{
	width: 72%;
	text-align:center;
	margin:0 auto;
	padding:5% 2% 5.5% 0;
	display:block;
	color:#fff;
	border-radius:26px;
	position: relative;
}
.search .searchBoxFrom .btnList li .smt{
	font-size:1rem;
	width: 100%;
	background:none;
}
.search .searchBoxFrom .btnList{
	margin-top:6%;
}
.search .searchBoxFrom .btnList li{
	letter-spacing:1px;
	margin-bottom:4%;
}
.search .searchBoxFrom .btnList li:last-child{
	margin-bottom:0;
}
.search .searchBoxFrom .btnList li .btn:after{
	content: "";
	position: absolute;
	top: 1px;
	bottom: 0;
	right: 0.95rem;
	margin: auto;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  }
.search .searchBoxFrom .btnList li #js_allclear .btn{
	background:#6c839f;
}
.search .searchBoxFrom .btnList li .smt .btn{
	background:#4c5f76;
}
/* news
--------------*/
.news {
	position: relative;
	padding-bottom:20%;
}
.news h2.tit{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_news.png) no-repeat bottom;
	background-size:contain;
	width:48.5%;
	padding:17% 0;
	margin:0 auto 9%;
}
.news:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg05.png) no-repeat;
	background-size:contain;
	width: 50%;
	padding-top:56.4%;
	position: absolute;
	left:-13%;
	top:0;
	z-index:-1;
}
.news:after{
	content:'';
 display:block;
	background:url(../../img/tekute-nagamachi/bg06.png) no-repeat;
	background-size:contain;
	width: 40.6%;
	padding-top:41.4%;
	position: absolute;
	bottom:0;
	right:-9%;
	z-index:-1;
}

/* slider
--------------*/
.slider{
	margin:0 4.8%;
}
.slider li .LBoxTagList{
	padding-top:0;
}
.slider li .LBoxTagList li{
	font-size:0.9rem;
	margin:4% 0 3%;
	display:inline-block;
	padding:1.5% 3%;
	text-align:center;
	color:#fff;
	background:#4c5f76;
}
.slider li .day{
	font-size:0.95rem;
	margin-bottom:3%;
}
.slider li dt{
 font-weight:bold;
	font-size:1rem;
	line-height:1.2;
	margin-bottom:2%;
}
.slider li dd{
	font-size:0.95rem;
	line-height:1.5;
	margin-bottom:13%;
}
.news .slider dd{
	height:5.6rem;
	overflow:hidden;
}
.reading .slider dd .ellipsis,
.news .slider dd .ellipsis{
   overflow: hidden;
   display: -webkit-box;
   display: box;
   -webkit-box-orient: vertical;
   box-orient: vertical;
   -webkit-line-clamp: 4 !important;
   line-clamp: 4 !important;
}
.btn_more{
	width: 25%;
	margin:6.5% auto 0;
}
.LinkBox3col .resizeRatioBox .resizeRatioImg{
 height:15rem;
}
.LinkBox3col .resizeRatioBox .resizeRatioImg img{
	max-height:15.3rem;
}
/* event
--------------*/
.event{
	text-align:center;
	position: relative;
	padding-top:3%;
}
.event:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg07_sp.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-top:4%;
}
.event:after{
	content:'';
 display:block;
	background:url(../../img/tekute-nagamachi/bg08_sp.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-bottom:24.2%;
}
.event .inner{
	background:#ecc4b2;
	padding:14% 0 0;
}
.event h2.tit{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_event.png) no-repeat;
	background-size:contain;
	width:63.8%;
	padding-top:19.6%;
	margin:0 auto 10%;
}
.event .calender{
	width: 92.4%;
	margin:0 3.8%;
 position: relative;
	height:0;
	padding-bottom: 100%;;
}
.event .calender iframe{
  position: absolute;
 top: 0;
 left: 0;
 width: 100% ;
	width: 100% !important;
height: 100% !important;
	border:none !important;
}


/* reading
--------------*/
.reading {
	position: relative;
	padding-bottom:13%;
}
.reading h2.tit{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_reading.png) no-repeat bottom;
	background-size:contain;
	width:66.4%;
	padding:20% 0;
	margin:0 auto 8%;
}
.reading .lead{
	font-size:0.85rem;
	line-height:1.8;
	margin:0 5% 7%;
}
.reading .inner:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg09.png) no-repeat;
	background-size:contain;
	width: 65.8%;
	padding-top:63.4%;
	position: absolute;
	top:4%;
	right:-28%;
	z-index:-1;
}
/* floormap
--------------*/
.floormap .inner{
	background:#c1db80;
	padding:9% 0;
}
.floormap .map{
	background:#fff;
	padding:4% 2%;
	margin:0 2.6%;
	border-radius:10px;
}
.floormap iframe{
	border:none;
	outline:none;
}
.floormap h2.tit{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_floormap.png) no-repeat;
	background-size:contain;
	width:45.8%;
	margin:0 auto 7%;
	padding-top:16.5%;
}
.floormap:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg10_sp.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-top:9.3%
}
.floormap:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg11_sp.gif) no-repeat bottom;
	background-size:contain;
	width: 100%;
	padding-bottom:1.6%
}

/* storeinfo
--------------*/
.storeinfo{
	padding:7.5% 2.6% 7%;
}
.storeinfo .inner{
	background:url(../../img/tekute-nagamachi/bg_body_sp.gif) repeat-y;
	background-size:100% auto;
	padding:6% 5% 3%;
}
.storeinfo:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg_head_sp.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-top:6.05%;
}
.storeinfo:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg_btm_sp.gif) no-repeat bottom;
	background-size:contain;
	width: 100%;
	padding-bottom:9%;
}
.storeinfo h2.tit{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_storeinfo.png) no-repeat;
	background-size:contain;
	width:80%;
	margin:0 auto 8%;
	padding-top:19%
}
.storeinfo .storedata{
	margin-bottom:12%;
}
.storeinfo .storedata .name{
	font-size:1.1rem;
	letter-spacing:1px;
	text-align:center;
	font-weight:bold;
	padding:4% 0;
	border:1px solid #000;
	margin-bottom:5%;
	position: relative;
}
.storeinfo .storedata .name:before,
.storeinfo .storedata .name:after{
	content:'';
	display:block;
	width: 8px;
	height:8px;
	position: absolute;
	bottom:-5px;
	background:#f7f2bc;
}
.storeinfo .storedata .name:before{
	left:0;
}
.storeinfo .storedata .name:after{
	right:0;
}
.storeinfo .storedata .photo{
	margin:0 2.5% 0;
}
.storeinfo .storedata table tr{
	border-bottom:2px solid #fff;
}
.storeinfo .storedata table th{
	width:32%;
}
.storeinfo .storedata table td{
	width:68%;
}
.storeinfo .storedata table th,
.storeinfo .storedata table td{
	font-size:0.9rem;
	vertical-align:top;
	line-height:1.5;
	padding:4.5% 0;
}
.storeinfo table td .btn_map{
	width:25%;
	text-align:center;
	font-size:0.95rem;
	letter-spacing:1px;
	font-weight:bold;
	background:#949494;
	color:#fff;
	display:inline-block;
	border-radius:12px;
	margin-left:5%;
}
.storeinfo table td .btn_map a{
	color:#fff;
	display:block;
	text-decoration:none;
	padding:2% 0;
}
.storeinfo .storebox #box01{
	margin-bottom:12%;
}
.storeinfo .storebox #box02 .tit{
	padding:8% 0 4%;
}
.storeinfo .storebox .box {
	border:1px solid #000;
	padding:0 3%;
	position: relative;
}
.storeinfo .storebox .box .tit{
	font-size:1.1rem;
	line-height:1.4;
	font-weight:bold;
	padding:6% 0 4%;
	text-align:center;
}
.storeinfo .storebox .box dl dt{
	font-size:0.9rem;
	letter-spacing:2px;
	text-align:center;
	font-weight:bold;
	border-radius:7px;
	background:#fff;
	color:#000;
	padding:2% 0;
	margin-bottom:2.5%;
}
.storeinfo .storebox .box dl dd{
	font-size:0.9rem;
	line-height:1.5;
	margin-bottom:4%;
}
.storeinfo .storebox .box .money{
	width:100%;
	display:table;
	table-layout:fixed;
}
.storeinfo .storebox .box .suica{
	width: 20%;
	padding-right:2%;
	display:table-cell;
	vertical-align:middle;
}
.storeinfo .storebox .box .credit{
	width: 80%;
 margin:0 auto;
}
.storeinfo .storebox .box table th,
.storeinfo .storebox .box table td{
	font-size:0.9rem;
	line-height:1.5;
	padding:3% 3% 3% 0;
}
.storeinfo .storebox .box table tr{
	border-bottom:2px solid #fff;
}
.storeinfo table tr:last-child{
	border-bottom:none !important;
}
.storeinfo .storebox .box table th{
	width: 45%;
}
.storeinfo .storebox .box table td{
	width: 55%;
}
.storeinfo .storebox #box01 .tit:before{
	content:'';
	display:block;
	background:#f7f2bc url(../../img/tekute-nagamachi/ico_card.png) no-repeat center;
	width: 35%;
	padding-top:9%;
	background-size:85% auto;
	position: absolute;
	top:-4%;
}
.storeinfo .storebox #box02 .tit:before{
	content:'';
	display:block;
	background:#f7f2bc url(../../img/tekute-nagamachi/ico_facility.png) no-repeat center;
	width:26%;
	padding-top:12%;
	background-size:80% auto;
	position: absolute;
	top:-6%;
	left:5%;
}
/* jrebnr
--------------*/
.jrebnr{
	border:2px solid #01874c;
	margin:0 6.6%;
	padding:6% 7% 8.5%;
	margin-bottom:31%;
}
.jrebnr .logo{
	width: 35%;
	margin:0 auto;
}
.jrebnr dt{
	font-size:1rem;
	letter-spacing:1.5px;
	line-height:1.5;
 font-weight:bold;
	text-align:center;
	padding:4% 0 7%;
	margin-bottom:8%;
	border-bottom:2px solid #01874c;
}
.jrebnr .point li.col{
	padding:8.88% 0;
}
.jrebnr .point li{
	font-size:0.875rem;
	text-align:center;
	font-weight:500;
	line-height:1.6;
	padding:5% 0;
	margin-bottom:4%;
	background:#e0e6ea;
	border-radius:10px;
}
.jrebnr .point li:last-child{
	padding:5% 3%;
}
.jrebnr .kome{
	font-size:0.8rem;
	letter-spacing:1px;
	line-height:1.4;
	margin-bottom:5%;
}
.jrebnr .btn_detail{
	font-size:0.9rem;
	font-weight:500;
	letter-spacing:1px;
	width: 60%;
	margin:0 auto;
}
.jrebnr .btn_detail a{
	display:block;
	color:#fff;
	text-align:center;
	background:#01874c;
	padding:10% 0;
	border-radius:23px;
}
/* park
--------------*/
.park{
	width: 90%;
	margin:0 auto;
	border:1px solid #000;
	padding:18% 0 7%;
	position: relative;
}
.park h2.tit{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_park_sp.gif) no-repeat;
	width: 78%;
	padding-top:29%;
	background-size:contain;
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	top:-4.8%;
}
.park ul li{
	padding:0 5%;
}
.park ul li:first-child{
	margin-bottom:12%;
}

}

/* //////////////////////////////////////////////////////////////////////////////// */
/* print */
/* //////////////////////////////////////////////////////////////////////////////// */
@media print {
		/*-------------------
	 
		 pc
			
	-------------------*/
	
section{
	min-width:1024px;
	margin:0 auto;
	position: relative;
}
section h2{
	text-align:center;
}
section h2.tit{
 text-indent: 100%;
 white-space: nowrap;
 overflow: hidden;
}
.headingTtl{
	min-width:1024px;
	margin:0 auto;
	background:#f3f3f5;
	text-align:center;
	padding:12px 0 26px;
	position: relative;
}
.headingTtl .logo{
	width: 18.6%;
 margin:0 auto;
}
.headingTtl .sns{
	height:35px;
	right:24.45%;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
	overflow: hidden;
}
.headingTtl .sns li{
	width: 35px;
	height:35px;
	float: left;
	margin-right:20px;
}
.headingTtl .sns li a{
	transition:all 0.2s;
}
.headingTtl .sns li a:hover{
	opacity:0.8;
}
.headingTtl .sns li:last-child{
	margin-right:0;
}
.main{
 background:url(../../img/tekute-nagamachi/bg12_pc.gif) no-repeat center bottom;
	padding-bottom:213px;
}
.tpl_btmBnr{
	margin-top:78px;
}
/* mainVisual
--------------*/
.mainVisual .message{
	position: relative;
	height:604px;
}
.mainVisual .message:before{
	content:'';
	display:block;
 background:url(../../img/tekute-nagamachi/bg01_pc.png) no-repeat;
	background-size:contain;
	width: 28.8%;
	padding-top:24.2%;
	position: absolute;
	top:-22%;
	right:0;
}
.mainVisual .message:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg02_pc.png) no-repeat;
	background-size:contain;
	width: 38.35%;
	padding-top:13%;
	position: absolute;
	bottom:14%;
	left:0;
}
.mainVisual .message .inner{
	width:647px;
	position:absolute;
	top:100px;
	left:0;
	right:0;
	margin:0 auto;
	overflow: hidden;
	z-index:10;
}
.mainVisual .message .inner h2{
	width: 219px;
	height:411px;
	font-size:0;
	background:url(../../img/tekute-nagamachi/message_pc.png) no-repeat;
	float: right;
}
.mainVisual .message .inner p.txt{
	font-size:0;
	float: left;
	background:url(../../img/tekute-nagamachi/txt_pc.png) no-repeat;
	width: 319px;
	height:309px;
}


/* search
--------------*/
.search{
	background:url(../../img/tekute-nagamachi/bg03_pc.png) no-repeat center top;
	background-size:contain;
	width:100%;
	padding-top:9%;
}
.search:after{
	content:'';
	display:inline-block;
	background:url(../../img/tekute-nagamachi/bg04_pc.png) no-repeat center top;
	background-size:contain;
	width:100%;
	padding-bottom:1.3%;
}
.search .searchArea{
	min-width:1024px;
	margin:0 auto;
	background:#b6d56a;
	padding:0 0 80px;
	padding:73px 0 80px;
	position: relative;
}
.search .acdn{
	width:1024px;
	margin:0 auto;
	position: relative;
}
.search .ttl{
	font-size:0;
	background:url(../../img/tekute-nagamachi/ttl_what_pc.png) no-repeat;
	width: 526px;
	height:83px;
	position: absolute;
	left:0;
	right:0;
	top:-113px;
	margin:0 auto 30px;
	cursor:pointer;
}
.search .bar >dt{
	width:42px;
	position: absolute;
	top:-88px;
	left:166px;
	cursor:pointer;
}
.search .bar >dt .ico {
	border-radius: 50%;
	background: #fff;
	width: 42px;
	height: 42px;
	position: relative;
	display: inline-block;
	transition: all 0.4s;
}
.search .bar .ico span {
	display: inline-block;
	position: absolute;
	left: 0%;
	right: 0%;
	margin: auto;
	width: 24px;
	height: 4px;
	background: #b6d56a;
	transition: all 0.4s;
  }
.search .bar .ico span:nth-of-type(1) {
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
.search .bar .ico span:nth-of-type(2) {
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  }
.search .bar.acdnOn .ico span:nth-of-type(1) {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
  }
.search .bar.acdnOn .ico span:nth-of-type(2) {
	opacity: 0;
  }
.search .searchBoxFrom{
	background:#fff;
	width: 940px;
	margin:0 auto;
	padding:50px;
	border-radius:10px;
}
.search .searchBoxFrom dl{
	width: 100%;
	table-layout:fixed;
}
.search .searchBoxFrom dl.keyword{
	border-top:1px solid #4c5f76;
	border-bottom:1px solid #4c5f76;
}
.search .searchBoxFrom dl dt{
	width: 90px;
	font-size:15px;
	font-weight:500;
	color:#958e7c;
	display:table-cell;
	vertical-align:top;
}
.search .searchBoxFrom dl.row dt{
	padding:35px 0 0;
}
.search .searchBoxFrom dl.keyword dt{
	vertical-align:middle;
	padding:0;
}
.search .searchBoxFrom dl dd{
	font-size:14px;
	width: 750px;
	display:table-cell;
}
.searchBoxFrom .keyBox{
	padding:0;
}
.search .searchBoxFrom dl dd input[type="text"]{
	width: 700px;
	background:#ecf2f9;
	padding:14px 17px;
	margin:30px 0;
}
.search .searchBoxFrom dl dd input::-webkit-input-placeholder {
	color:#4c5f76;
}
.search .searchBoxFrom ul{
	overflow: hidden;
}
.search .searchBoxFrom input[type="checkbox"]{
	display:none;
}
.search .searchBoxFrom dl.row ul{
	margin-bottom:15px;
}
.search .searchBoxFrom dl ul li{
 width:175px;
	float: left;
	font-weight:500;
	text-align:center;
	font-size:15px;
	letter-spacing:1.5px;
	margin-right:16.6px;
	margin-bottom:15px;
}
.search .searchBoxFrom dl ul li:nth-child(4n){
 margin-right:0;
}
.search .searchBoxFrom dl ul li label{
	color:#4c5f76;
	display:block;
	padding:10px 0;
	transition:all 0.2s;
	border:1px solid #4c5f76;
	border-radius:35px;
}
.search .searchBoxFrom dl ul li label:hover,
.search .searchBoxFrom input:checked +label{
	color:#fff;
	background:#4c5f76;
	border-radius:35px;
}
.search .searchBoxFrom .btnList {
	text-align:center;
	font-size:0;
}
.search .searchBoxFrom .btnList li{
	width: 230px;
	font-size:17px;
	letter-spacing:1.5px;
	display:inline-block;
	margin:30px 25px 0;
	text-align:center;
}
.search .searchBoxFrom .btnList li .btn{
	padding:14px 10px 14px 0;
	display:block;
	color:#fff;
	transition:all 0.2s;
	border-radius:23px;
	position: relative;
}
.search .searchBoxFrom .btnList li .btn:after{
	content: "";
	position: absolute;
	top: 1px;
	bottom: 0;
	right: 15px;
	margin: auto;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  }
.search .searchBoxFrom .btnList li #js_allclear .btn{
	background:#6c839f;
}
.search .searchBoxFrom .btnList li button{
	font-size:17px;
	letter-spacing:1.5px;
	width:inherit;
	background:none;
}
.search .searchBoxFrom .btnList li .smt .btn{
	background:#4c5f76;
}
.search .searchBoxFrom .btnList li .btn:hover{
	opacity:0.8;
}

/* news
--------------*/
.news {
	height:790px;
	padding:90px 0 0;
}
.news .inner{
	width: 1070px;
	margin:0 auto;
	position: relative;
}
.news h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_news.png) no-repeat;
	background-size:contain;
	width:224px;
	margin:0 auto 60px;
	height:80px;
}
.news .inner:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg05.png) no-repeat;
	background-size:contain;
	position: absolute;
	width: 379px;
	height:423px;
	top:-90px;
	left:-277px;
	z-index:-1;
}
.news .inner:after{
	content:'';
 display:block;
	background:url(../../img/tekute-nagamachi/bg06.png) no-repeat;
	background-size:contain;
	width: 305px;
	height:311px;
	position: absolute;
	bottom:-30px;
	right:-267px;
	z-index:-1;
}

/* slider
--------------*/
.slider{
 margin:0 auto;
	overflow: hidden;
}
.slider li.slick-slide{
	width: 310px;
	display:inline-block;
	font-size:0;
	margin:0 23.5px 70px;
}
.slider li .LBoxTagList li{
	font-size:14px;
	margin:0 10px 15px 0;
	display:inline-block;
	padding:3px 10px 5px;
	text-align:center;
	color:#fff;
	background:#4c5f76;
}
.slider li .day{
	font-size:15px;
	margin-bottom:10px;
}
.slider li dl{
	font-size:15px;
}
.slider li dt{
 font-weight:bold;
	line-height:1.2;
	margin-bottom:8px;
}
.slider li dd{
	line-height:1.5;
}
.btn_more{
	width: 82px;
	margin:20px auto 0;
}
.btn_more:hover{
	opacity:0.8;
}

/* event
--------------*/
.event{
	text-align:center;
	position: relative;
}
.event:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg07_pc.gif) no-repeat center bottom;
	background-size:contain;
	width: 100%;
	padding-top:1.5%;
}
.event:after{
	content:'';
 display:block;
	background:url(../../img/tekute-nagamachi/bg08_pc.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-bottom:9.4%;
	margin-top:-3.5%;
}
.event .inner{
	background:#ecc4b2;
	padding:80px 0 0;
}
.event h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_event.png) no-repeat;
	background-size:contain;
	width:297px;
	height:90px;
	margin:0 auto 50px;
}
.event .calender iframe{
	border:none !important;
}
/* reading
--------------*/
.reading{
	padding:100px 0 35px;
}
.reading .inner{
	width: 1070px;
	margin:0 auto;
	position: relative;
}
.reading .inner:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg09.png) no-repeat;
	background-size:contain;
	width: 494px;
	height:476px;
	position: absolute;
	top:-60px;
	left:-287px;
	z-index:-1;
}
.reading h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_reading.png) no-repeat;
	background-size:contain;
	width:308px;
	margin:0 auto 50px;
	height:96px;
}
.reading .lead{
	font-size:0;
	background:url(../../img/tekute-nagamachi/read_txt.png) no-repeat;
	width: 744px;
	height:16px;
	margin:0 auto 40px;
}

/* floormap
--------------*/
.floormap .inner{
	background:#c1db80;
	padding:75px 20px 85px;
}
.floormap .map{
	max-width:1024px;
	margin:0 auto;
	background:#fff;
	padding:40px 24px;
	border-radius:20px;
	overflow:hidden;
}
.floormap iframe{
	border:none;
	outline:none;
}
.floormap h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_floormap.png) no-repeat;
	background-size:contain;
	width:212px;
	margin:0 auto 50px;
	height:77px;
}
.floormap:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg10_pc.gif) no-repeat center bottom;
	background-size:contain;
	width: 100%;
	padding-top:4.3%
}
.floormap:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg11_pc.gif) no-repeat bottom;
	background-size:contain;
	width: 100%;
	padding-bottom:1.4%
}
.floormap .map #map img{
	 width:975px !important;
}

/* storeinfo
--------------*/
.storeinfo{
	max-width: 1150px;
	margin:0 auto;
	padding:95px 0 0;
}
.storeinfo .inner{
	background:url(../../img/tekute-nagamachi/bg_body_pc.gif) repeat-y;
	background-size:contain;
	padding-top:43px;
}
.storeinfo:before{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg_head_pc.gif) no-repeat;
	background-size:contain;
	width: 100%;
	padding-top:3.56%;
}
.storeinfo:after{
	content:'';
	display:block;
	background:url(../../img/tekute-nagamachi/bg_btm_pc.gif) no-repeat bottom;
	background-size:contain;
	width: 100%;
	height:488px;
	margin-top:-488px;
}
.storeinfo h2.tit{
	background:url(../../img/tekute-nagamachi/ttl_storeinfo.png) no-repeat;
	background-size:contain;
	width:371px;
	margin:0 auto 50px;
	height:89px;
}
.storeinfo .storedata{
	padding:0 62px;
	overflow: hidden;
	margin-bottom:20px;
	position: relative;
}
.storeinfo .storedata .name{
	max-width: 1024px;
	margin:0 auto 40px;
	font-size:22px;
	letter-spacing:2px;
	font-weight:bold;
	text-align:center;
	padding:20px 0;
	border:1px solid #000;
	position: relative;
}
.storeinfo .storedata .name:before,
.storeinfo .storedata .name:after{
	content:'';
	display:block;
	width: 15px;
	height:15px;
	position: absolute;
	bottom:-10px;
	background:#f7f2bc;
}
.storeinfo .storedata .name:before{
	left:0;
}
.storeinfo .storedata .name:after{
	right:0;
}
.storeinfo .storedata .photo{
	width: 230px;
	height:230px;
	float: left;
	background:#ccc;
}
.storeinfo .storedata .photo img{
	width: 230px;
	height:230px;
 object-fit: cover; 
}
.storeinfo .storedata table{
	width:73.2%;
	max-width: 750px;
	table-layout:fixed;
	float: right;
	letter-spacing:1.5px;
}
.storeinfo table tr{
	border-bottom:3px solid #fff;
}
.storeinfo table tr:last-child{
	border-bottom:none;
}
.storeinfo .storedata table th{
	font-size:19px;
	font-weight:bold;
	width: 200px;
}
.storeinfo .storedata table .time th,
.storeinfo .storedata table .time td{
	padding-top:0;
}
.storeinfo .storedata table th,
.storeinfo .storedata table td{
	vertical-align:top;
	line-height:1.6;
	padding:11px 0;
}
.storeinfo .storedata table td{
	font-size:18px;
}
.storeinfo .storebox{
	margin:0 30px;
	overflow: hidden;
	padding:0 0 6.8%;
}
.storeinfo .storebox .box{
	width: 44.1%;
	max-width: 480px;
	margin:0 2.94%;
	float: left;
	border:1px solid #000;
	margin-top:24px;
}
.storeinfo .storebox .box .tit{
	font-size:22px;
	line-height:1.4;
	font-weight:bold;
	text-align:center;
}
.storeinfo .storebox .box dl{
	width: 400px;
	margin:0 auto;
}
.storeinfo .storebox .box dl dt{
	font-size:16px;
	letter-spacing:2px;
	text-align:center;
	font-weight:bold;
	border-radius:14.5px;
	background:#fff;
	color:#000;
	padding:6px 0 7px;
	margin-bottom:10px;
}
.storeinfo .storebox .box dl dd{
	font-size:16px;
	letter-spacing:2px;
	line-height:1.6;
	padding:0 20px;
	margin-bottom:20px;
}
.storeinfo .storebox .box .money{
	display:table;
	padding:0 20px 0 32px;
	table-layout:fixed;
}
.storeinfo .storebox .box .suica{
	width: 73px;
	padding-right:13px;
	display:table-cell;
	vertical-align:middle;
}
.storeinfo .storebox .box .credit{
	width: 320px;
 margin:0 auto;
}
.storeinfo .storebox #box01 .tit{
	padding:25px 0 20px;
	position: relative;
}
.storeinfo .storebox #box01 .tit:before{
	content:'';
	display:block;
	background:#f7f2bc url(../../img/tekute-nagamachi/ico_card.png) no-repeat center;
	width: 130px;
	height:38px;
	background-size:contain;
	padding:0 10px;
	margin:0 0 15px 28px;
	position: absolute;
	top:-24px;
}
.storeinfo .storebox #box02{
	position: relative;
}
.storeinfo .storebox #box02 .tit:before{
	content:'';
	display:block;
	background:#f7f2bc url(../../img/tekute-nagamachi/ico_facility.png) no-repeat center;
	width: 96px;
	height:52px;
	background-size:contain;
	position: absolute;
	padding:0 13px;
	top:-24px;
	left:32px;
}
.storeinfo .storebox #box02 .tit{
	padding:44px 0 15px;
	line-height:1;
}
.storeinfo .storebox .box table{
	width: 420px;
	margin:0 auto;
}
.storeinfo .storebox .box table th,
.storeinfo .storebox .box table td{
	padding:22px 0;
}
.storeinfo .storebox .box table th{
	width: 160px;
	font-size:16px;
	line-height:1.4;
	font-weight:bold;
	padding:15px 10px;
	box-sizing:border-box;
}
.storeinfo .storebox .box table td{
	font-size:16px;
	letter-spacing:0px;
	line-height:1.4;
	width: 260px;
}

.storeinfo table td .btn_map{
	font-size:15px;
	background:#949494;
	color:#fff;
	display:inline-block;
	border-radius:11px;
	margin-left:5px;
}
.storeinfo table td .btn_map a{
	color:#fff;
	display:block;
	padding:1px 13px;
}
.storeinfo table td .btn_map a:hover{
	background:#a9a9a9;
		border-radius:11px;
	text-decoration:none;
}
/* jrebnr
--------------*/
.jrebnr{
	width: 1024px;
	margin:110px auto 186px;
	border:4px solid #018647;
	padding:40px 55px 35px;
	box-sizing:border-box;
}
.jrebnr dt{
	font-size:24px;
	letter-spacing:2.5px;
	font-weight:bold;
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:3px solid #018647;
}
.jrebnr .logo{
	width: 164px;
	float: left;
	margin:0 0 0 8px;
}
.jrebnr .point{
	width: 710px;
	float: right;
}
.jrebnr .point li.col{
	padding:24.5px 0;
}
.jrebnr .point li{
	font-size:16px;
	letter-spacing:0px;
	text-align:center;
	font-weight:500;
	line-height:1.6;
	width: 212px;
	float: left;
	padding:12px 0;
	margin:0 20px 0 0;
	background:#e0e6ea;
	border-radius:15px;
}
.jrebnr .point li:last-child{
	width: 246px;
	padding:12px 13px;
	margin-right:0;
}
.jrebnr .kome{
	width: 710px;
	float: right;
	margin:15px 0 25px;
}
.jrebnr .btn_detail{
	font-size:16px;
	font-weight:500;
	letter-spacing:1px;
	width: 182px;
	margin:0 auto;
	clear:both;
}
.jrebnr .btn_detail a{
	display:block;
	color:#fff;
	text-align:center;
	background:#01874c;
	padding:15px 0;
	border-radius:24.5px;
	transition:all 0.2s;
}
.jrebnr .btn_detail a:hover{
	background:#349f70;
}
/* park
--------------*/
.park{
	width: 1024px;
	margin:0 auto;
	padding:80px 30px 50px 40px;
	border:1px solid #000;
	position: relative;
}
.park h2.tit{
	font-size:0;
 background:url(../../img/tekute-nagamachi/ttl_park_pc.gif) no-repeat;
	width: 587px;
	height:100px;
	position: absolute;
	left:0;
	right:0;
	top:-74px;
	margin:0 auto;
	z-index:100;
}
.park ul{
	overflow: hidden;
}
.park ul li{
	float: left;
}
.park ul li:first-child{
	margin-right:62px;
}

	/* slider
--------------*/
.slider{
	width:1024px;
}
.slider li:first-child{
	margin-left:0;
}
.mainVisual #slide .slick-slide img{
	width:1024px !important;
}

}